<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>

<table>
  <tr>
    <th>Collection Name</th>
    <td>
	    <%= @collection.name %>
    </td>
  </tr>
  <tr>
    <th>Unit</th>
    <td>
      <%= @collection.unit.abbreviation %>
    </td>
  </tr>
  <tr>
    <th></th>
    <td><%= link_to "Inventory This Collection", collection_new_physical_object_path %></td>
  </tr>
</table>