<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', url_for(:back) %>

<table>
  <tr>
    <th class="_20">Collection Name</th>
    <td>
	    <%= @collection.name %>
    </td>
  </tr>
  <tr>
    <th class="_20">Unit</th>
    <td>
      <%= @collection.unit.abbreviation %>
    </td>
  </tr>
  <tr>
    <th class="_20">Summary</th>
    <td><%= @collection.summary %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= link_to "Inventory This Collection", collection_new_physical_object_path %></td>
  </tr>
</table>