<%= form_for(@collection_inventory_configuration) do |f| %>
  <% if @collection_inventory_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection_inventory_configuration.errors.count, "error") %> prohibited this collection_inventory_configuration from being saved:</h2>

      <ul>
      <% @collection_inventory_configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table>
      <tr>
        <th>Collection</th>
        <td>
          <%= f.select :collection_id, Collection.where("name != 'Misc [not in collection]'").order('name ASC').collect { |u| [u.name, u.id] }, { }, multiple: false, size: 1 %>
        </td>
      </tr>
      <tr>
        <th>Location</th>
        <td>
          <%= f.check_box :location %>
        </td>
      </tr>
      <tr>
        <th>Copyright</th>
        <td>
          <%= f.check_box :copy_right %>
        </td>
      </tr>
      <tr>
        <th>Series Name</th>
        <td>
          <%= f.check_box :series_name %>
        </td>
      </tr>
      <tr>
        <th>Series Production Number</th>
        <td>
          <%= f.check_box :series_production_number %>
        </td>
      </tr>
      <tr>
        <th>Series Part</th>
        <td>
          <%= f.check_box :series_part %>
        </td>
      </tr>
      <tr>
        <th>Alternative Title</th>
        <td>
          <%= f.check_box :alternative_title %>
        </td>
      </tr>
      <tr>
        <th>Title Version</th>
        <td>
          <%= f.check_box :title_version %>
        </td>
      </tr>
      <tr>
        <th>Generation</th>
        <td>
          <%= f.check_box :generation %>
        </td>
      </tr>
      <tr>
        <th>Item Orignal Identifier</th>
        <td>
          <%= f.check_box :item_original_identifier %>
        </td>
      </tr>
      <tr>
        <th>Summary</th>
        <td>
          <%= f.check_box :summary %>
        </td>
      </tr>
      <tr>
        <th>Creator</th>
        <td>
          <%= f.check_box :creator %>
        </td>
      </tr>
      <tr>
        <th>Distributors</th>
        <td>
          <%= f.check_box :distributors %>
        </td>
      </tr>
      <tr>
        <th>Credits</th>
        <td>
          <%= f.check_box :credits %>
        </td>
      </tr>
      <tr>
        <th>Language</th>
        <td>
          <%= f.check_box :language %>
        </td>
      </tr>
      <tr>
        <th>Accompanying Documentation</th>
        <td>
          <%= f.check_box :accompanying_documentation %>
        </td>
      </tr>
      <tr>
        <th>Notes</th>
        <td>
          <%= f.check_box :notes %>
        </td>
      </tr>
      <tr>
        <th>Generation</th>
        <td><%= f.check_box :generation %></td>
      </tr>
      <tr>
        <th>Base</th>
        <td><%= f.check_box :base  %></td>
      </tr>
      <tr>
        <th>Stock</th>
        <td><%= f.check_box :stock %></td>
      </tr>
      <tr>
        <th>Access</th>
        <td><%= f.check_box :access %></td>
      </tr>
      <tr>
        <th>Gauge</th>
        <td><%= f.check_box :gauge %></td>
      </tr>
      <tr>
        <th>Can Size</th>
        <td><%= f.check_box :can_size %></td>
      </tr>
      <tr>
        <th>Footage</th>
        <td><%= f.check_box :footage %></td>
      </tr>
      <tr>
        <th>Duration</th>
        <td><%= f.check_box :duration %></td>
      </tr>
      <tr>
        <th>Reel Number</th>
        <td><%= f.check_box :reel_number %></td>
      </tr>
      <tr>
        <th>Multiple Items In Can</th>
        <td>
          <%= f.check_box :multiple_items_in_can %>
        </td>
      </tr>
      <tr>
        <th>Format Notes</th>
        <td><%= f.check_box :format_notes %></td>
      </tr>
      <tr>
        <th>Picture Type</th>
        <td><%= f.check_box :picture_type %></td>
      </tr>
      <tr>
        <th>Frame Rate</th>
        <td><%= f.check_box :frame_rate %></td>
      </tr>
      <tr>
        <th>Color/Black and White</th>
        <td><%= f.check_box :color_or_bw %></td>
      </tr>
      <tr>
        <th>Aspect Ratio</th>
        <td><%= f.check_box :aspect_ratio %></td>
      </tr>
      <tr>
        <th>Sound Field Language</th>
        <td><%= f.check_box :sound_field_language %></td>
      </tr>
      <tr>
        <th>Captions/Subtitles</th>
        <td><%= f.check_box :captions_or_subtitles %></td>
      </tr>
      <tr>
        <th>Silent?</th>
        <td><%= f.check_box :silent %></td>
      </tr>
      <tr>
        <th>Sound Format Type</th>
        <td><%= f.check_box :sound_format_type %></td>
      </tr>
      <tr>
        <th>Sound Content Type</th>
        <td><%= f.check_box :sound_content_type %></td>
      </tr>
      <tr>
        <th>Sound Configuration</th>
        <td><%= f.check_box :sound_configuration %></td>
      </tr>
      <tr>
        <th>AD Strip</th>
        <td><%= f.check_box :ad_strip %></td>
      </tr>
      <tr>
        <th>Shrinkage</th>
        <td><%= f.check_box :shrinkage %></td>
      </tr>
      <tr>
        <th>Mold</th>
        <td><%= f.check_box :mold %></td>
      </tr>
      <tr>
        <th>Condition Type</th>
        <td><%= f.check_box :condition_type %></td>
      </tr>
      <tr>
        <th>Condition Rating</th>
        <td><%= f.check_box :condition_rating %></td>
      </tr>
      <tr>
        <th>Research Value</th>
        <td><%= f.check_box :research_value %></td>
      </tr>
      <tr>
        <th>Conservation Actions</th>
        <td><%= f.check_box :conservation_actions %></td>
      </tr>
    </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
