<table>
  <tr>
    <th>Collection</th>
    <td>
      <%= @collection_inventory_configuration.collection.name %>
    </td>
  </tr>
  <tr>
    <th>Location</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.location, disabled: true %>
    </td>
  </tr>
  <tr>
    <th>Copy Right</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.copy_right, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Series Name</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.series_name, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Series Production Number</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.series_production_number, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Series Part</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.series_part, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Alternative Title</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.alternative_title, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Title Version</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.title_version, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Item Orignal Identifier</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.item_original_identifier, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Summary</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.summary, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Creator</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.creator, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Distributors</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.distributors, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Credits</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.credits, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Language</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.language, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Accompanying Documentation</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.accompanying_documentation, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Notes</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.notes, disabled: true  %>
    </td>
  </tr>

  <tr>
    <th>Generation</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.generation, disabled: true %></td>
  </tr>
  <tr>
    <th>Base</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.base , disabled: true %></td>
  </tr>
  <tr>
    <th>Stock</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.stock, disabled: true %></td>
  </tr>
  <tr>
    <th>Access</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.access, disabled: true %></td>
  </tr>
  <tr>
    <th>Gauge</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.gauge, disabled: true %></td>
  </tr>
  <tr>
    <th>Can Size</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.can_size, disabled: true %></td>
  </tr>
  <tr>
    <th>Footage</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.footage, disabled: true %></td>
  </tr>
  <tr>
    <th>Duration</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.duration, disabled: true %></td>
  </tr>
  <tr>
    <th>Reel Number</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.reel_number, disabled: true %></td>
  </tr>
  <tr>
    <th>Format Notes</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.format_notes, disabled: true %></td>
  </tr>
  <tr>
    <th>Picture Type</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.picture_type, disabled: true %></td>
  </tr>
  <tr>
    <th>Frame Rate</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.frame_rate, disabled: true %></td>
  </tr>
  <tr>
    <th>Color/Black and White</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.color_or_bw, disabled: true %></td>
  </tr>
  <tr>
    <th>Aspect Ratio</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.aspect_ratio, disabled: true %></td>
  </tr>
  <tr>
    <th>Sound Field Language</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.sound_field_language, disabled: true %></td>
  </tr>
  <tr>
    <th>Captions/Subtitles</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.captions_or_subtitles, disabled: true %></td>
  </tr>
  <tr>
    <th>Silent?</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.silent, disabled: true %></td>
  </tr>
  <tr>
    <th>Sound Format Type</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.sound_format_type, disabled: true %></td>
  </tr>
  <tr>
    <th>Sound Content Type</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.sound_content_type, disabled: true %></td>
  </tr>
  <tr>
    <th>Sound Configuration</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.sound_configuration, disabled: true %></td>
  </tr>
  <tr>
    <th>AD Strip</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.ad_strip, disabled: true %></td>
  </tr>
  <tr>
    <th>Shrinkage</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.shrinkage, disabled: true %></td>
  </tr>
  <tr>
    <th>Mold</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.mold, disabled: true %></td>
  </tr>
  <tr>
    <th>Condition Type</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.condition_type, disabled: true %></td>
  </tr>
  <tr>
    <th>Condition Rating</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.condition_rating, disabled: true %></td>
  </tr>
  <tr>
    <th>Research Value</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.research_value, disabled: true %></td>
  </tr>
  <tr>
    <th>Conservation Actions</th>
    <td><%= check_box_tag "", "", @collection_inventory_configuration.conservation_actions, disabled: true %></td>
  </tr>

</table>
