<table>
  <tr>
    <th>Collection</th>
    <td>
      <%= @collection_inventory_configuration.collection.name %>
    </td>
  </tr>
  <tr>
    <th>Location</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.location, disabled: true %>
    </td>
  </tr>
  <tr>
    <th>Copy Right</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.copy_right, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Series Name</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.series_name, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Series Production Number</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.series_production_number, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Series Part</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.series_part, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Alternative Title</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.alternative_title, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Title Version</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.title_version, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Item Orignal Identifier</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.item_original_identifier, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Summary</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.summary, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Creator</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.creator, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Distributors</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.distributors, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Credits</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.credits, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Language</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.language, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Accompanying Documentation</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.accompanying_documentation, disabled: true  %>
    </td>
  </tr>
  <tr>
    <th>Notes</th>
    <td>
      <%= check_box_tag "", "", @collection_inventory_configuration.notes, disabled: true  %>
    </td>
  </tr>
</table>
