<% bad = [] %>
<table id="finder_table">
  <tbody>
    <tr>
      <th>Barcode</th>
      <th>Title(s)</th>
      <th>Action</th>
    </tr>
    <% @pos.each do |p| %>
      <% if p.current_location == WorkflowStatus::MISSING %>
        <tr id="po_<%= p.id %>">
          <td class="bc"><%= p.iu_barcode %></td>
          <td><%= p.titles_text %></td>
          <td class="choice">
            <%= label_tag "Return to Storage" %><%= radio_button_tag "po_#{p.id}", "return"  %>
            &nbsp;&nbsp;&nbsp;
            <%= label_tag "Inject into Workflow" %><%= radio_button_tag "po_#{p.id}", "inject", false, {class: "injectable"} %>
          </td>
          <td><button type="button" onclick="removePO(<%= p.id %>)">Remove</button></td>
        </tr>
      <% else %>
      <% end %>
    <% end %>
  </tbody>
</table>