<%#
  This partial is used by 4 different controllers: PhysicalObject, Collections, Titles, and Series. It needs to determine
  which controller to post the form submission to, as well as locking out editability of Collection/Title/Series if the
  physical object is being created through that object. Additionally, div#controller_info is responsible for displaying
  information relevant to what action you are actually taking: creating a physical object with specific title, series,
  collection, or making a generic object from scratch.
%>

<div id="controller_info">
  <% cm = controller_name == 'collections' ? "For Collection: <i>#{@collection.name}</i>".html_safe :
      controller_name == 'series' ? "For Series: <i>#{@series.title}</i>".html_safe :
          controller_name == "titles" ? "For Title: <i>#{@title.title_text}</i>".html_safe : "" %>
  <h2><%= @em %> <%= cm %></h2>
</div>
<%
       if action_name == "new" || action_name == 'create'
         @url = create_physical_object_url
       else action_name == 'edit' || action_name == 'update'
        # update can fail because of a validation error
         @url = physical_object_url(@original_po_id ? @original_po_id : @physical_object.acting_as.id)
       end
%>
<%= nested_form_for @physical_object, url: @url, html: {id: 'physical_object_form'} do |f| %>
  <%= hidden_field_tag "original_action", (action_name == 'ajax_rebuild_form' ? params[:original_action] : action_name) %>
  <%= hidden_field_tag "original_po_id", @original_po_id if @original_po_id %>
  <% if params[:medium_changed] %>
    <%= hidden_field_tag "medium_changed", true %>
  <% end %>
  <% if @physical_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physical_object.errors.count, "error") %> prohibited this Physical Object from being saved:</h2>
      <ul>
      <% @physical_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% unless flash[:other_message].blank? %>
      <div id="other_message">
        <%= flash[:other_message].html_safe %>
      </div>
  <% end %>

  <% if @physical_object.actable.class == EquipmentTechnology %>
    <%= render partial: "physical_objects/equipment_technology/metadata_editable", locals: {f: f}  %>
  <% else %>
    <div class="m_top_10px">
      <div class="left">
        <%= f.check_box :digitized %>
      </div>
      <div class="left">Digitized?</div>
    </div>
    <div id="core_metadata" class="metadata_section">
      <h4>Core Metadata</h4>
      <div class="left _50">
        <div><b>* Title(s)</b></div>
        <%= render partial: 'physical_objects/physical_object_title_form', locals: { f: f } %>
        <div class="label"><b>Alternative Title</b></div>
        <div class="field"><%= f.text_field :alternative_title %></div>
        <div class="label"><b>Compilation</b></div>
        <div class="field"><%= f.text_field :compilation %></div>
        <div class="label"><b>* Medium</b></div>
        <div class="field"><%= f.select :medium, PhysicalObject::NEW_MEDIUMS, {}, {id: 'medium_types'} %></div>
        <div class="label">
          <b>* Unit</b>
        </div>
        <div class="field">
          <% if @collection %>
            <%= @collection.unit.abbreviation %>
            <%= f.hidden_field :unit_id %>
          <% else %>
            <%= f.collection_select :unit_id, Unit.order('menu_index').all, :id, :abbreviation %>
          <% end %>
        </div>
        <div class="label">
          <b>Collection</b>
        </div>
        <div class="field">
          <% if @collection %>
            <%= @collection.name%>
          <% else %>
            <%= f.text_field :collection_text%>
            <div>
              No Collection? <input id="physical_object_no_collection" type="checkbox" name="no_collection" value="no_collection" <%= (action_name == 'edit' && @collection.nil?) ? 'checked' : '' %>>
            </div>
          <% end %>
          <%= f.hidden_field :collection_id %>
        </div>
      </div>
      <div class="left _50">
        <div class="label">
          <b>* IU Barcode</b>
        </div>
        <div class="field">
          <%= f.text_field :iu_barcode %>
        </div>
        <div class="label">
          <b>MDPI Barcode</b>
        </div>
        <div class="field">
          <%= f.text_field :mdpi_barcode %>
        </div>
        <div class="label">
          <b>IUCAT Title No.</b>
        </div>
        <div class="field">
          <%= f.text_field :title_control_number %>
        </div>
        <div class="label">
          <b>Catalog Key</b>
        </div>
        <div class="field">
          <%= f.text_field :catalog_key %>
        </div>
        <div class="label">
          <b>Storage Location</b>
        </div>
        <div class="field">
          <%= f.object.storage_location %>
        </div>
        <div class="label">
          <b>Alf Shelf/Freezer Location</b>
        </div>
        <div class="field">
          <%= f.text_field :alf_shelf %>
        </div>
      </div>
    </div>
    <div id="format_notes_metadata" class="metadata_section">
      <h4>Format Notes</h4>
      <%= f.text_area :format_notes, class: "_100" %>
    </div>
    <div id="accompanying_documentation_metadata" class="metadata_section">
      <h4>Accompanying Documentation</h4>
      <div>
        <%= f.text_area :accompanying_documentation %> <br>
        <b>Accompanying Documentation Location</b><%= f.text_field :accompanying_documentation_location, size: 75 %>
      </div>
    </div>
    <%= render partial: "physical_objects/#{physical_object_specific_medium}/metadata_editable", locals: {f: f} %>
    <%= render partial: "physical_objects/#{physical_object_specific_medium}/metadata_editable_js" %>
  <% end %>
  <div class="actions clear">
    <%= f.submit "#{action_name.include?('edit') ? 'Update' : 'Create'} #{@physical_object.medium}" %>
  </div>
<% end %>
<%= render partial: "physical_objects/physical_object_metadata_editable_js" %>