<%#
  This partial is used by 4 different controllers: PhysicalObject, Collections, Titles, and Series. It needs to determine
  which controller to post the form submission to, as well as locking out editability of Collection/Title/Series if the
  physical object is being created through that object. Additionally, div#controller_info is responsible for displaying
  information relevant to what action you are actually taking: creating a physical object with specific title, series,
  collection, or making a generic object from scratch.
%>
<div id="controller_info">
  <% cm = controller_name == 'collections' ? "For Collection: <i>#{@collection.name}</i>".html_safe :
      controller_name == 'series' ? "For Series: <i>#{@series.title}</i>".html_safe :
          controller_name == "titles" ? "For Title: <i>#{@title.title_text}</i>".html_safe : "" %>
  <h2><%= @em %> <%= cm %></h2>
</div>
<% url =
       controller_name == 'physical_objects' && action_name == 'new' ? physical_objects_path :
       controller_name == 'physical_objects' && action_name == 'edit' ? physical_object_path :
       controller_name == 'physical_objects' && action_name == 'duplicate' ? create_duplicate_physical_object_path :
       controller_name == 'collections' ?  collection_create_physical_object_path  :
       controller_name == 'titles' ? titles_create_physical_object_path :
       controller_name == 'series' ? series_create_physical_object_path : ''
%>
<%= nested_form_for @physical_object, url: url, html: {id: 'physical_object_form'} do |f| %>
  <% if @physical_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physical_object.errors.count, "error") %> prohibited this physical_object from being saved:</h2>
      <ul>
      <% @physical_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% unless flash[:other_message].blank? %>
      <div id="other_message">
        <%= flash[:other_message].html_safe %>
      </div>
  <% end %>






  <div id="core_metadata" class="metadata_section">
    <h4>Core Metadata</h4>
    <div class="left _50">
      <div><b>* Title(s)</b></div>
      <%= render partial: 'physical_objects/physical_object_title_form', locals: { f: f } %>
      <div class="label"><b>Alternative Title</b></div>
      <div class="field"><%= f.text_field :alternative_title %></div>
      <div class="label"><b>Compilation</b></div>
      <div class="field"><%= f.text_field :compilation %></div>
      <div class="label"><b>* Medium</b></div>
      <div class="field"><%= f.select :medium, PhysicalObject::MEDIA_TYPE_MEDIUMS['Moving Image'].collect{|m| [m,m]},{}, {id: 'medium', include_blank: "Select an object type"} %></div>
      <div class="label">
        <b>* Unit</b>
      </div>
      <div class="field">
        <% if @collection %>
          <%= @collection.unit.abbreviation %>
          <%= f.hidden_field :unit_id %>
        <% else %>
          <%= f.collection_select :unit_id, Unit.order('menu_index').all, :id, :abbreviation %>
        <% end %>
      </div>
      <div class="label">
        <b>Collection</b>
      </div>
      <div class="field">
        <% if @collection %>
          <%= @collection.name%>
        <% else %>
          <%= f.text_field :collection_text%>
          <div>
            No Collection? <input id="physical_object_no_collection" type="checkbox" name="no_collection" value="no_collection" <%= (action_name == 'edit' && @collection.nil?) ? 'checked' : '' %>>
          </div>
        <% end %>
        <%= f.hidden_field :collection_id %>
      </div>
    </div>
    <div class="left _50">

      <div class="label">
        <b>* IU Barcode</b>
      </div>
      <div class="field">
        <%= f.text_field :iu_barcode %>
      </div>
      <div class="label">
        <b>MDPI Barcode</b>
      </div>
      <div class="field">
        <%= f.text_field :mdpi_barcode %>
      </div>
      <div class="label">
        <b>IUCAT Title No.</b>
      </div>
      <div class="field">
        <%= f.text_field :title_control_number %>
      </div>
      <div class="label">
        <b>Catalog Key</b>
      </div>
      <div class="field">
        <%= f.text_field :catalog_key %>
      </div>
      <div class="label">
        <b>Storage Location</b>
      </div>
      <div class="field">
        <%= f.object.storage_location %>
      </div>
      <div class="label">
        <b>Alf Shelf/Freezer Location</b>
      </div>
      <div class="field">
        <%= f.text_field :alf_shelf %>
      </div>
    </div>

  </div>
  <div id="accompanying_documentation_metadata" class="metadata_section">
    <h4>Accompanying Documentation</h4>
    <div>
      <%= f.text_area :accompanying_documentation %> <br>
      <b>Location</b><%= f.text_field :accompanying_documentation_location, size: 75 %>
    </div>
  </div>


  <div id="conservation_actions_metadata" class="metadata_section">
    <h4>
      Conservation actions
    </h4>
    <%= f.text_area :conservation_actions, class: '_100' %>
  </div>
  <div id="overlay"></div>
  <div id="title_popup" title='Create New Title'>
    <div id="title_popup_header">
      <h4>Create New Title</h4><%= link_to "X", "#", remote: true, button: true, id: 'title_popup_cancel_button' %>
    </div>
    <div id="title_popup_content" class="clear"></div>
  </div>
  <div>
    <div class="label">
      <b>Original Identifier</b>
    </div>
    <div class="value">
      <%= fields_for :physical_object_original_identifiers do |id| %>
        <div class="left condition">
          Original Identifier: <%= id.text_field :identifier %>
          <%= id.link_to_remove (action_name == 'edit' ? 'Delete' : 'Cancel') %>
        </div>
      <% end %>
      <%= f.link_to_add 'New Original Identifier', :physical_object_original_identifiers %>
    </div>
  </div>
  <div>
    <div class="label">
      <b>Dates</b>
    </div>
    <div class="value">
      <%= f.fields_for :physical_object_dates do |pods| %>
        <div class="left condition">
          Date: <%= pods.text_field :date %><br/>
          Type: <%= pods.select :controlled_vocabulary_id, options_for_select(@pod_cv[:type], pods.object.controlled_vocabulary_id) %>
          <%= pods.link_to_remove (action_name == 'edit' ? 'Delete' : 'Cancel') %>
        </div>
      <% end %>
      <%= f.link_to_add 'New Date', :physical_object_dates %>
    </div>
  </div>


  <%#= render partial: 'physical_objects/physical_object_metadata_editable', locals: {f: f} %>





  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
