<table class='physical_object_metadata_editable'>
  <tr>
    <th>Date Inventoried </th>
    <td>
      <%= f.text_field :date_inventoried %>
    </td>
  </tr>
  <tr>
    <th>Inventoried By</th>
    <td>
      Users to be implemented...
    </td>
  </tr>
  <tr>
    <th>Location</th>
    <td>
      <%= f.text_field :location %>
    </td>
  </tr>
  <tr>
    <th>Unit</th>
    <td>
      <%= f.select :unit_id, Unit.order('name ASC').collect { |u| [u.abbreviation, u.id] }, { }, multiple: false, size: 1 %>
    </td>
  </tr>
  <tr>
    <th>Collection</th>
    <td>

    </td>
  </tr>
  <tr>
    <th>Media Type</th>
    <td>
      <%= f.select :media_type, @physical_object.media_types, {}, {id: 'media_type'} %>
    </td>
  </tr>
  <tr>
    <th>Medium</th>
    <td>
	    <%= f.select :medium, PhysicalObject::MEDIA_TYPE_MEDIUMS['Moving Image'], {}, {id: 'medium_types'} %>
    </td>
  </tr>
  <tr>
    <th>IU Barcode</th>
    <td>
      <%= f.text_field :iu_barcode  %>
    </td>
  </tr>
  <tr>
    <th>Title</th>
    <td>
      <%= f.select :title_id, Title.order("title ASC").collect { |t| [t.title, t.id] }, {}  %>
    </td>
  </tr>
  <tr>
    <th>Copy Right</th>
    <td>
      <%= f.text_field :copy_right %>
    </td>
  </tr>
  <tr>
    <th>Series Title</th>
    <td>
      <%= select_tag "series", options_from_collection_for_select(@series, "id", "title", (@physical_object.title && @physical_object.title.series) ? @physical_object.title.series.id : ""), {prompt: "Select a Series..."} %>
    </td>
  </tr>
  <tr>
    <th>Series Production Number</th>
    <td>
	    <%= f.text_field :series_production_number %>
    </td>
  </tr>
  <tr>
    <th>Series Part</th>
    <td>
	    <%= f.text_field :series_part %>
    </td>
  </tr>
  <tr>
    <th>Alternative Title</th>
    <td>
	    <%= f.text_field :alternative_title %>
    </td>
  </tr>
  <tr>
    <th>Title Version</th>
    <td>
	    <%= f.text_field :title_version %>
    </td>
  </tr>
  <tr>
    <th>Item Original Identifier</th>
    <td>
	    <%= f.text_field :item_original_identifier %>
    </td>
  </tr>
  <tr>
    <th>Summary</th>
    <td>
	    <%= f.text_area :summary %>
    </td>
  </tr>
  <tr>
    <th>Creator</th>
    <td>
	    <%= f.text_field :creator %>
    </td>
  </tr>
  <tr>
    <th>Distributors</th>
    <td>
	    <%= f.text_field :distributors %>
    </td>
  </tr>
  <tr>
    <th>Credits</th>
    <td>
	    <%= f.text_field :credits %>
    </td>
  </tr>
  <tr>
    <th>Language</th>
    <td>
	    <%= f.text_field :language %>
    </td>
  </tr>
  <tr>
    <th>Accompanying Documentation</th>
    <td>
	    <%= f.text_area :accompanying_documentation %>
    </td>
  </tr>
  <tr>
    <th>Notes</th>
    <td>
	    <%= f.text_area :notes %>
    </td>
  </tr>
</table>
<script type="text/javascript">
	// hook in validator for the IU barcode field
	$("#physical_object_iu_barcode").bind("change keyup", function () {
		validateIUBarcode($(this));
	});

	// hook in handles for the event change on media type
	var media_type_mediums = <%= PhysicalObject::MEDIA_TYPE_MEDIUMS.to_json.html_safe %>;
	$('#media_type').change(function() {
		media = $("#media_type option:selected").val();
		mediums = media_type_mediums[media];
		$("#medium_types").empty();
		$.each(mediums, function(index, value) {
			$("#medium_types").append($("<option></option>").attr("value", value).text(value));
		});
	});

</script>