<table border="1">
  <thead>
  <tr>
    <th>Barcode</th>
    <th>Title(s)</th>
    <th>Status</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @physical_objects.each do |physical_object| %>
    <tr>
      <td>
	      <%= physical_object.iu_barcode %>
      </td>
      <td>
        <%= physical_object.titles_text %>
      </td>
      <td><%= physical_object.current_workflow_status.status_type %></td>
      <td><%= physical_object.current_workflow_status.workflow_status_location %></td>
      <td>
        <%= link_to 'Show', physical_object %> <br/>
        <%= link_to 'Edit', edit_physical_object_path(physical_object) %>
	      <% if policy(physical_object).destroy? %>
		      <br/>
	        <%= link_to 'Destroy', physical_object, method: :delete, data: { confirm: 'Are you sure?' } %>
	      <% end  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
