<table class='physical_object_metadata_editable'>
  <tr>
    <th>Date Inventoried </th>
    <td>
      <%= Date.current %>
    </td>
  </tr>
  <tr>
    <th>Inventoried By</th>
    <td>
      <%= f.hidden_field :inventoried_by %>
      <%= @physical_object.inventorier&.name %>
    </td>
  </tr>
  <tr>
    <th>Modified By</th>
    <td>
      <%= f.hidden_field :modified_by %>
      <%= @physical_object.modifier&.name %>
    </td>
  </tr>
  <tr>
    <th>Location</th>
    <td>
      <%= f.text_field :location %>
    </td>
  </tr>
  <tr>
    <th>Unit</th>
    <td>
      <%= f.select :unit_id, Unit.order('menu_index IS NULL, menu_index ASC, abbreviation ASC').collect { |u| [u.abbreviation, u.id] }, { }, multiple: false, size: 1 %>
    </td>
  </tr>
  <tr>
    <th>Collection</th>
    <td>
      <%= f.hidden_field :collection_id %>
      <%= f.text_field :collection_text %>
    </td>
  </tr>
  <tr>
    <th>Media Type</th>
    <td>
      <%= f.select :media_type, @physical_object.media_types, {}, {id: 'media_type'} %>
    </td>
  </tr>
  <tr>
    <th>Medium</th>
    <td>
	    <%= f.select :medium, PhysicalObject::MEDIA_TYPE_MEDIUMS['Moving Image'], {}, {id: 'medium_types'} %>
    </td>
  </tr>
  <tr>
    <th>IU Barcode</th>
    <td>
      <%= f.text_field :iu_barcode  %>
    </td>
  </tr>
  <tr>
    <th>Title</th>
    <td>
      <%= f.hidden_field :title_id %>
      <%= f.text_field :title_text %>
    </td>
  </tr>
  <tr>
    <th>Copy Right</th>
    <td>
      <%= f.text_field :copy_right %>
    </td>
  </tr>
  <tr>
    <th>Series Title</th>
    <td>
      <%= f.hidden_field :series_id %>
      <%= f.text_field :series_title_text %>
    </td>
  </tr>
  <tr>
    <th>Series Production Number</th>
    <td>
	    <%= f.text_field :series_production_number %>
    </td>
  </tr>
  <tr>
    <th>Series Part</th>
    <td>
	    <%= f.text_field :series_part %>
    </td>
  </tr>
  <tr>
    <th>Alternative Title</th>
    <td>
	    <%= f.text_field :alternative_title %>
    </td>
  </tr>
  <tr>
    <th>Title Version</th>
    <td>
	    <%= f.text_field :title_version %>
    </td>
  </tr>
  <tr>
    <th>Item Original Identifier</th>
    <td>
	    <%= f.text_field :item_original_identifier %>
    </td>
  </tr>
  <tr>
    <th>Summary</th>
    <td>
	    <%= f.text_area :summary %>
    </td>
  </tr>
  <tr>
    <th>Creator</th>
    <td>
	    <%= f.text_field :creator %>
    </td>
  </tr>
  <tr>
    <th>Distributors</th>
    <td>
	    <%= f.text_field :distributors %>
    </td>
  </tr>
  <tr>
    <th>Credits</th>
    <td>
	    <%= f.text_field :credits %>
    </td>
  </tr>
  <tr>
    <th>Language</th>
    <td>

    </td>
  </tr>
  <tr>
    <th>Accompanying Documentation</th>
    <td>
	    <%= f.text_area :accompanying_documentation %>
    </td>
  </tr>
  <tr>
    <th>Notes</th>
    <td>
	    <%= f.text_area :notes %>
    </td>
  </tr>
</table>
<%= render partial: "physical_objects/physical_object_metadata_js" %>