<table class='physical_object_metadata_editable'>
  <tr>
    <td>Date Inventoried </td>
    <td>
      <%= f.text_field :date_inventoried %>
    </td>
  </tr>
  <tr>
    <td>Created By</td>
    <td>
      Users to be implemented...
    </td>
  </tr>
  <tr>
    <td>Location</td>
    <td>
      <%= f.text_field :location %>
    </td>
  </tr>
  <tr>
    <td>Unit</td>
    <td>
      <%= f.select :unit_id, Unit.order('name ASC').collect { |u| [u.name, u.id] }, { }, multiple: false, size: 1 %>
    </td>
  </tr>
  <tr>
    <td>Collection</td>
    <td>

    </td>
  </tr>
  <tr>
    <td>Media Type</td>
    <td>
      <%= f.select :media_type, @physical_object.media_types, {}, {id: 'media_type'} %>
    </td>
  </tr>
  <tr>
    <td>Medium</td>
    <td>
	    <%= f.select :medium, PhysicalObject::MEDIA_TYPE_MEDIUMS['Moving Image'], {}, {id: 'medium_types'} %>
    </td>
  </tr>
  <tr>
    <td>IU Barcode</td>
    <td>
      <%= f.text_field :iu_barcode  %>
    </td>
  </tr>
  <tr>
    <td>Title</td>
    <td>
      <%= f.text_field :title %>
    </td>
  </tr>
  <tr>
    <td>Copy Right</td>
    <td>
      <%= f.text_field :copy_right %>
    </td>
  </tr>
  <tr>
    <td>Series Name</td>
    <td>
	    <%= f.text_field :series_name %>
    </td>
  </tr>
  <tr>
    <td>Series Production Number</td>
    <td>
	    <%= f.text_field :series_production_number %>
    </td>
  </tr>
  <tr>
    <td>Series Part</td>
    <td>
	    <%= f.text_field :series_part %>
    </td>
  </tr>
  <tr>
    <td>Alternative Title</td>
    <td>
	    <%= f.text_field :alternative_title %>
    </td>
  </tr>
  <tr>
    <td>Title Version</td>
    <td>
	    <%= f.text_field :title_version %>
    </td>
  </tr>
  <tr>
    <td>Item Original Identifier</td>
    <td>
	    <%= f.text_field :item_original_identifier %>
    </td>
  </tr>
  <tr>
    <td>Summary</td>
    <td>
	    <%= f.text_area :summary %>
    </td>
  </tr>
  <tr>
    <td>Creator</td>
    <td>
	    <%= f.text_field :creator %>
    </td>
  </tr>
  <tr>
    <td>Distributors</td>
    <td>
	    <%= f.text_field :distributors %>
    </td>
  </tr>
  <tr>
    <td>Credits</td>
    <td>
	    <%= f.text_field :credits %>
    </td>
  </tr>
  <tr>
    <td>Language</td>
    <td>
	    <%= f.text_field :language %>
    </td>
  </tr>
  <tr>
    <td>Accompanying Documentation</td>
    <td>
	    <%= f.text_area :accompanying_documentation %>
    </td>
  </tr>
  <tr>
    <td>Notes</td>
    <td>
	    <%= f.text_area :notes %>
    </td>
  </tr>
</table>
<script type="text/javascript">
	// hook in validator for the IU barcode field
	$("#physical_object_iu_barcode").bind("change keyup", function () {
		validateIUBarcode($(this));
	});

	// hook in handles for the event change on media type
	var media_type_mediums = <%= PhysicalObject::MEDIA_TYPE_MEDIUMS.to_json.html_safe %>;
	$('#media_type').change(function() {
		media = $("#media_type option:selected").val();
		mediums = media_type_mediums[media];
		$("#medium_types").empty();
		$.each(mediums, function(index, value) {
			$("#medium_types").append($("<option></option>").attr("value", value).text(value));
		});
	});

</script>