<table class='physical_object_metadata_editable'>
  <tr>
    <td>Date Inventoried </td>
    <td>
      <%= f.text_field :date_inventoried %>
    </td>
    <td>(Can we use the database record creation date when created in filmdb?)</td>
  </tr>
  <tr>
    <td>Created By</td>
    <td>
      Users to be implemented...
    </td>
  </tr>
  <tr>
    <td>Location</td>
    <td>
      <%= f.text_field :location %>
    </td>
  </tr>
  <tr>
    <td>Collection</td>
    <td>
      To be implemented...
    </td>
  </tr>
  <tr>
    <td>Media Type</td>
    <td>
      <%= f.select :media_type, @physical_object.media_types %>
    </td>
  </tr>
  <tr>
    <td>IU Barcode</td>
    <td>
      <%= f.text_field :iu_barcode %>
    </td>
  </tr>
  <tr>
    <td>Title</td>
    <td>
      <%= f.text_field :title %>
    </td>
  </tr>
  <tr>
    <td>Copy Right</td>
    <td>
      <%= f.text_field :copy_right %>
    </td>
  </tr>
</table>