<h1>Listing Physical Objects</h1>
<table border="1">
  <thead>
  <tr>
    <th>Barcode</th>
    <th>Title</th>
    <th>Series</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @physical_objects.each do |physical_object| %>
    <tr>
      <td>
	      <%= physical_object.iu_barcode %>
      </td>
      <td>
        <%= physical_object.title&.title_text %>
      </td>
      <td><%= physical_object.title&.series&.title %></td>
      <td>
        <%= link_to 'Show', physical_object %> <br/>
        <%= link_to 'Edit', edit_physical_object_path(physical_object) %> <br/>
        <%= link_to 'Destroy', physical_object, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
