
<div id="core_metadata" class="metadata_section">
  <h4>Core Metadata</h4>
  <div class="left _50">
    <b>Title</b><%= f.hidden_field :title_id %> <%= f.text_field :title_text %><br/>
    <b>Series</b>
    <% if !@series.blank? %>
      <input id="physical_object_series_id" name="physical_object[series_id]" type="hidden" value="<%= @series.id %>">
      <input id="physical_object_series_title_text" class="ui-autocomplete-input" name="physical_object[series_title_text]" autocomplete="off" type="text" value="<%= @series.title %>"><br/>
    <% else %>
      <%= f.hidden_field :series_id %>
      <%= f.text_field :series_title_text %><br/>
    <% end %>
    <b>Series Part</b> <%= f.text_field :series_part %><br/>
    <b>Media Type</b> <%= f.select :media_type, @physical_object.media_types, {}, {id: 'media_type'} %><br/>
    <b>Medium</b> <%= f.select :medium, PhysicalObject::MEDIA_TYPE_MEDIUMS['Moving Image'], {}, {id: 'medium_types'} %>
  </div>
  <div class="left _50">
    <b>Unit</b> <%= f.collection_select :unit_id, Unit.order('menu_index').all, :id, :abbreviation %><br/>
    <b>Collection</b><%= f.text_field :collection_text%> <%= f.hidden_field :collection_id %><br/>
    <b>Current Location</b> <%= f.select :location, options_for_select(@cv[:location]) %><br/>
    <b>IU Barcode</b> <%= f.text_field :iu_barcode %><br/>
    <b>MDPI Barcode</b> <%= f.text_field :mdpi_barcode %><br/>
    <b>IUCAT Title NO.</b> <i>not implemented yet...</i>
  </div>
  <div class="clear">
    <b class="block">Version</b>
    <%= f.check_box :first_edition %>First Edition <%= f.check_box :second_edition %>2nd Edition <%= f.check_box :third_edition %>3rd Edition <%= f.check_box :fourth_edition %>4th Edition
    <%= f.check_box :abridged %>Abridged <%= f.check_box :short %>Short <%= f.check_box :long %>Long <%= f.check_box :sample %>Sample <%= f.check_box :preview %>Preview<br/>
    <%= f.check_box :revised %>Revised <%= f.check_box :version_original %>Original <%= f.check_box :captioned %>Captioned <%= f.check_box :excerpt%>Excerpt  <%= f.check_box :catholic %>Catholic
    <%= f.check_box :domestic %>Domestic <%= f.check_box :trailer %>Trailer <%= f.check_box :english %>English <%= f.check_box :television %>Television <%= f.check_box :x_rated %>X-rated
  </div>
</div>
<div id="format_metadata" class="metadata_section">
  <h4>Format</h4>
  <div class="left _50 h_400px">
    <b class='block'>Gauge</b><%= f.select :gauge, options_for_select(@cv[:gauge]) %><br/>
    <div>
      <b class="block">Generation</b>
      <div class="generation_box">
        <%= f.check_box :generation_negative %>Negative<br/>
        <%= f.check_box :generation_positive %>Positive<br/>
        <%= f.check_box :generation_reversal %>Reversal<br/>
      </div>
      <div class="generation_box generation_box_ml_5px">
        <%= f.check_box :generation_projection_print %>Projection Print<br/>
        <%= f.check_box :generation_answer_print %>Answer Print<br/>
        <%= f.check_box :generation_work_print %>Work Print<br/>
        <%= f.check_box :generation_composite %>Composite<br/>
        <%= f.check_box :generation_intermediate %>Intermediate<br/>
        <%= f.check_box :generation_mezzanine %>Mezzanine<br/>
        <%= f.check_box :generation_kinescope %>Kinescope<br/>
        <%= f.check_box :generation_magnetic_track %>Magnetic Track<br/>
        <%= f.check_box :generation_optical_sound_track %>Optical Sound Track<br/>
        <%= f.check_box :generation_outs_and_trims %>Outs and Trims<br/>
      </div>
      <div class="generation_box generation_box_ml_5px">
        <%= f.check_box :generation_ab_a_roll %>A Roll<br/>
        <%= f.check_box :generation_ab_b_roll %>B Roll<br/>
        <%= f.check_box :generation_ab_c_roll %>C Roll<br/>
        <%= f.check_box :generation_ab_d_roll %>D Roll<br/>
        <%= f.check_box :generation_edited %>Edited<br/>
        <%= f.check_box :generation_edited_camera_original %>Edited Camera Original<br/>
        <%= f.check_box :generation_original %>Original<br/>
        <%= f.check_box :generation_mixed %>Mixed<br/>
        <%= f.check_box :generation_fine_grain_master %>Fine Grain Master<br/>
        <%= f.check_box :generation_separation_master %>Separation Master<br/>
        <%= f.check_box :generation_duplicate %>Duplicate<br/>
      </div>
    </div>
  </div>
  <div class="line_300">
    <b>Original Identifier</b><%= f.text_field :item_original_identifier %><br/>
    <b>Reel Number</b><%= f.text_field :reel_number %><br/>
    <%= f.check_box :multiple_items_in_can %> <b>Multiple Items in Can</b><br/>
    <b>Can Size</b><%= f.select :can_size, options_for_select(@cv[:can_size]) %><br/>
    <b>Footage (ft)</b><%= f.text_field :footage %><br/>
    <b>Duration (hh:mm:ss)</b><%= f.text_field :duration %><br/>
    <b>Edge Code</b> <i>currently not implemented</i>
  </div>
  <div>
    <b class="block">Base</b>
      <%= f.check_box :base_acetate %> Acetate
      <%= f.check_box :base_polyester %> Polyester
      <%= f.check_box :base_nitrate %> Nitrate
      <%= f.check_box :base_mixed%> Mixed
  </div>
  <div>
    <b class="block">Stock</b>
    <%= f.check_box :stock_agfa %>Agfa <%= f.check_box :stock_ansco %>Ansco <%= f.check_box :stock_dupont %>Dupont <%= f.check_box :stock_orwo %>Orwo <%= f.check_box :stock_fuji %>Fuji<br/>
     <%= f.check_box :stock_gevaert %>Gevaert <%= f.check_box :stock_kodak %>Kodak <%= f.check_box :stock_ferrania %>Ferrania <%= f.check_box :stock_mixed %>Mixed

  </div>
  <div class="clear"></div>
</div>
<div id="image_metadata" class="metadata_section left _50">
  <h4>Image</h4>
  <div>
    <div class="h_150px">
      <b class="block">Picture Type</b>
      <div class="left _50">
        <%= f.check_box :picture_not_applicable %>Not Applicable<br/>
        <%= f.check_box :picture_silent_picture %>Silent Picture<br/>
        <%= f.check_box :picture_mos_picture %>MOS Picture<br/>
        <%= f.check_box :picture_composite_picture %>Composite Picture<br/>
        <%= f.check_box :picture_intertitles_only %>Intertitles Only<br/>
      </div>
      <div class="left _50">
        <%= f.check_box :picture_credits_only %>Credits Only<br/>
        <%= f.check_box :picture_picture_effects %>Picture Effects<br/>
        <%= f.check_box :picture_picture_outtakes %>Picture Outtakes<br/>
        <%= f.check_box :picture_picture_kinescope %>Kinescope<br/>
      </div>
    </div>
    <div class="clear">
      <b class='block'>Frame Rate</b><%= f.select :frame_rate, options_for_select(@cv[:frame_rate]) %>
    </div>
    <div id="color_div" class="h_195px">
      <b class="block">Color</b>
      <div>
        <div class="_33 left">
          <%= f.check_box :color_bw_bw %>Black & White<br/>
          <%= f.check_box :color_bw_bw_toned %>Toned<br/>
          <%= f.check_box :color_bw_bw_tinted %>Tinted<br/>
        </div>
        <div class="_33 left">
          <%= f.check_box :color_bw_color %>Color<br/>
          <%= f.check_box :color_bw_color_ektachrome %>Ektachrome<br/>
          <%= f.check_box :color_bw_color_kodachrome %>Kodachrome<br/>
          <%= f.check_box :color_bw_color_technicolor %>Technicolorl<br/>
          <%= f.check_box :color_bw_color_anscochrome %>Ansochrome<br/>
          <%= f.check_box :color_bw_color_eco %>Eco<br/>
          <%= f.check_box :color_bw_color_eastman %>Eastman<br/>
        </div>
        <div class="_33 left">
          <%= f.check_box :color_bw_color_bw_mixed %>Mixed<br/>
        </div>
      </div>
    </div>
    <div>
      <b class="block">Aspect Ratio</b>
      <div>
        <%= f.check_box :aspect_ratio_1_33_1 %>1:33:1
        <%= f.check_box :aspect_ratio_1_37_1 %>1:37:1
        <%= f.check_box :aspect_ratio_1_66_1 %>1:66:1
        <%= f.check_box :aspect_ratio_1_85_1 %>1:85:1<br/>
        <%= f.check_box :aspect_ratio_2_35_1 %>2:35:1
        <%= f.check_box :aspect_ratio_2_39_1 %>2:39:1
        <%= f.check_box :aspect_ratio_2_59_1 %>2:59:1
      </div>
    </div>

  </div>
</div>
<div id="sound_metadata" class="metadata_section left _50">
  <h4>Sound</h4>
  <div>
    <%= f.check_box :silent %><b>Silent</b><br/>
    <%= f.check_box :close_caption %><b>Captions/Subtitles</b><br/>
    <b>Captions/Subtitles Notes</b><br/>
  </div>
  <%= f.text_area :notes, class: '_100' %>
  <b class='block'>Format Type</b>
  <div class="h_100px">
    <div class="left">
      <%= f.check_box :sound_format_optical_variable_area %>Optical: Variable Area<br/>
      <%= f.check_box :sound_format_optical_variable_density %>Optical: Variable Density<br/>
      <%= f.check_box :sound_format_magnetic %>Magnetic<br/>
      <%= f.check_box :sound_format_type_mixed %>Mixed
    </div>
    <div class="left">
      <%= f.check_box :sound_format_digital_sdds %>Digital: SDDS<br/>
      <%= f.check_box :sound_format_digital_dts %>Digital: DTS<br/>
      <%= f.check_box :sound_format_digital_dolby_digital %>Digital: Dolby Digital<br/>
      <%= f.check_box :sound_format_sound_on_separate_media %>Sound on Separate Media Type
    </div>
  </div>
  <div class="h_90px">
    <b class='block'>Content Type</b>
    <div class="left _50">
      <%= f.check_box :sound_content_music_track %>Music track<br/>
      <%= f.check_box :sound_content_effects_track %>Effects Track<br/>
      <%= f.check_box :sound_content_dialog %>Dialog
    </div>
    <div class="left _50">
      <%= f.check_box :sound_content_composite_track %>Composite Track<br/>
      <%= f.check_box :sound_content_outtakes %>Outtakes
    </div>
  </div>
  <div class="h_90px">
    <b class='block'>Configuration</b>
    <div class="left _50">
      <%= f.check_box :sound_configuration_mono %>Mono<br/>
      <%= f.check_box :sound_configuration_stereo %>Stereo<br/>
      <%= f.check_box :sound_configuration_surround %>Surround
    </div>
    <div class="left _50">
      <%= f.check_box :sound_configuration_multi_track %>Multi-track (i.e. Maurer)<br/>
      <%= f.check_box :sound_configuration_dual %>Dual<br/>
      <%= f.check_box :sound_configuration_single %>Single
    </div>
  </div>
  <div class="h_100px">
    <b class="block">Language - Dialog</b>
      <%= f.check_box :language_arabic %>Arabic <%= f.check_box :language_chinese %>Chinese <%= f.check_box :language_english %>English <%= f.check_box :language_french %>French <%= f.check_box :language_german %>German <%= f.check_box :language_hindi %>Hindi<br/>
      <%= f.check_box :language_italian %>Italian <%= f.check_box :language_japanese %>Japanese <%= f.check_box :language_portuguese %>Portuguese<%= f.check_box :language_russian %>Russian <%= f.check_box :language_spanish %>Spanish
  </div>
  <div class="h_75px">
    <b class='block'>Language - Captions and Subtitles</b>
    <i>Not implemented yet...</i>
  </div>
</div>
<div id="format_notes_metadata" class="metadata_section">
  <h4>Format Notes</h4>
  <%= f.text_area :format_notes, class: "_100" %>
</div>
<div id="accompanying_documentation_metadata" class="metadata_section">
  <h4>Accompanying Documentation</h4>
  <div>
    <i>Implementaion to be drastically modified...</i>
  </div>
</div>
<div id="condition_metadata" class="metadata_section">
  <h4>Condition</h4>
  <div class="h_100px">
    <div class="left _45 rp_10px">
      <b>Overall Condition</b> <%= f.select :condition_rating, options_for_select(@cv[:condition_rating]) %><br/>
      <b>Condition Notes</b> <%= f.text_area :condition_notes, class: "_100" %>
    </div>
    <div class="left _50">
      <b>Research Value</b> <%= f.select :research_value, options_for_select(@cv[:research_value]) %><br/>
      <b class="block">Research Value Notes</b>
      <div>
        <%= f.text_area :research_value_notes, class: '_100' %>
      </div>
    </div>
  </div>
  <div class="h_260px pl_10px">
    <b class="block">Condition Types</b>
    <div class="left _33">
      AD Strip <%= f.select :ad_strip, options_for_select(@cv[:ad_strip]) %><br/>
      Brittle <%= f.select :brittle, options_for_select(@cv[:condition_type]) %><br/>
      Dirty <%= f.select :dirty, options_for_select(@cv[:condition_type]) %><br/>
      <%= f.check_box :not_on_core_or_reel %> Not on Core or Reel <br/>
      <%= f.check_box :loose_wind %> Poor Wind <br/>
      Scratches <%= f.select :scratches, options_for_select(@cv[:condition_type]) %><br/>
      Tape Residue <%= f.select :tape_residue, options_for_select(@cv[:condition_type]) %><br/>
      Water Damage <%= f.select :water_damage, options_for_select(@cv[:condition_type]) %>
    </div>
    <div class="left _33">
      Shrinkage <%= f.text_field :shrinkage %><br/>
      Broken <%= f.select :broken, options_for_select(@cv[:condition_type]) %><br/>
      <%= f.check_box :dusty %>Dusty<br/>
      Peeling <%= f.select :peeling, options_for_select(@cv[:condition_type]) %><br/>
      <%= f.check_box :replasticized %>Replasticized<br/>
      Splice Damage <%= f.select :splice_damage, options_for_select(@cv[:condition_type]) %><br/>
      Tearing <%= f.select :tearing, options_for_select(@cv[:condition_type]) %>
    </div>
    <div class="left _33">
      Mold <%= f.select :mold, options_for_select(@cv[:mold]) %><br/>
      Color Fade <%= f.select :color_fade, options_for_select(@cv[:condition_type]) %><br/>
      <%= f.check_box :lacquer_treated %>Lacquer Treated<br/>
      Perforation Damage <%= f.select :perforation_damage, options_for_select(@cv[:condition_type]) %><br/>
      Rusty <%= f.text_field :rusty %><br/>
      Spoking <%= f.text_field :spoking %><br/>
      Warp <%= f.select :warp, options_for_select(@cv[:condition_type]) %>
    </div>
  </div>
  <div>
    <b class="block">Missing Footage</b>
    <%= f.text_area :missing_footage, class: '_100' %><br/>
    <b class="block"> Miscellaneous</b>
    <%= f.text_area :miscellaneous, class: '_100' %>
  </div>
</div>
<div id="conservation_actions_metadata" class="metadata_section">
  <h4>Conservation actions</h4>
  <%= f.text_area :conservation_actions, class: '_100' %>
</div>
<%= render partial: "physical_objects/physical_object_metadata_js" %>