<div id="core_metadata" class="metadata_section">
  <h4>Core Metadata</h4>
  <div class="left _50">
    <div class="label"><b>Title</b></div>
    <div class="field">
      <% if @title %>
          <%= @title.title_text %>
      <% else %>
          <%= f.text_field :title_text %>
      <% end %>
      <%= f.hidden_field :title_id %>
    </div>
    <div class="label"><b>Alternative Title</b></div>
    <div class="field"><%= f.text_field :alternative_title %></div>
    <div class="label">
      <b>Series</b>
    </div>
    <div class="field">
      <% if @series %>
          <%= @series.title %><br/>
          <%= f.hidden_field :series_id, value: @series.id  %>
    <% else %>
          <%= f.hidden_field :series_id %>
          <%= f.text_field :series_title_text %>
    <% end %>
    </div>
    <div class="label">
      <b>Series Part</b>
    </div>
    <div class="field">
      <%= f.text_field :series_part %>
    </div>
    <div class="label">
      <b>Media Type</b>
    </div>
    <div class="field">
      <%= f.select :media_type, @physical_object.media_types, {}, {id: 'media_type'} %>
    </div>
    <div class="label"><b>Medium</b></div>
    <div class="field"><%= f.select :medium, PhysicalObject::MEDIA_TYPE_MEDIUMS['Moving Image'], {}, {id: 'medium_types'} %></div>
  </div>
  <div class="left _50">
    <div class="label">
      <b>Unit</b>
    </div>
    <div class="field">
      <%= f.collection_select :unit_id, Unit.order('menu_index').all, :id, :abbreviation %>
    </div>
    <div class="label">
      <b>Collection</b>
    </div>
    <div class="field">
      <% if @collection %>
          <%= @collection.name %>
      <% else %>
          <%= f.text_field :collection_text%>
      <% end %>
      <%= f.hidden_field :collection_id %>
    </div>
    <div class="label">
      <b>Current Location</b>
    </div>
    <div class="field">
      <%= f.select :location, options_for_select(@cv[:location]) %>
    </div>
    <div class="label">
      <b>IU Barcode</b>
    </div>
    <div class="field">
      <%= f.text_field :iu_barcode %>
    </div>
    <div class="label">
      <b>MDPI Barcode</b>
    </div>
    <div class="field">
      <%= f.text_field :mdpi_barcode %>
    </div>
    <div class="label">
      <b>IUCAT Title No.</b>
    </div>
    <div class="field">
      <%= f.text_field :title_control_number %>
    </div>
  </div>
  <div id="version_div" class="clear">
    <b class="block">Version</b>
    <div class="check_box"><%= f.check_box :first_edition %><div>First Edition</div></div>
    <div class="check_box"><%= f.check_box :second_edition %><div>2nd Edition</div></div>
    <div class="check_box"><%= f.check_box :third_edition %><div>3rd Edition</div></div>
    <div class="check_box"><%= f.check_box :fourth_edition %><div>4th Edition</div></div>
    <div class="check_box"><%= f.check_box :abridged %><div>Abridged</div></div>
    <div class="check_box"><%= f.check_box :short %><div>Short</div></div>
    <div class="check_box"><%= f.check_box :long %><div>Long</div></div>
    <div class="check_box"><%= f.check_box :sample %><div>Sample</div></div>
    <div class="check_box"><%= f.check_box :preview %><div>Preview</div></div>
    <div class="check_box"><%= f.check_box :revised %><div>Revised</div></div>
    <div class="check_box"><%= f.check_box :version_original %><div>Original</div></div>
    <div class="check_box"><%= f.check_box :captioned %><div>Captioned</div></div>
    <div class="check_box"><%= f.check_box :excerpt%><div>Excerpt</div></div>
    <div class="check_box"><%= f.check_box :catholic %><div>Catholic</div></div>
    <div class="check_box"><%= f.check_box :domestic %><div>Domestic</div></div>
    <div class="check_box"><%= f.check_box :trailer %><div>Trailer</div></div>
    <div class="check_box"><%= f.check_box :english %><div>English</div></div>
    <div class="check_box"><%= f.check_box :television %><div>Television</div></div>
    <div class="check_box"><%= f.check_box :x_rated %><div>X-rated</div></div>
  </div>
</div>
<div id="format_metadata" class="metadata_section">
  <h4>Format</h4>
  <div class="left _45">
    <b>Gauge</b><%= f.select :gauge, options_for_select(@cv[:gauge], @physical_object.gauge), {include_blank: ''} %>
    <div>
      <b class="block">Generation</b>
      <div class="generation_box">
        <div class="check_box">
          <%= f.check_box :generation_negative %>
          <div>Negative</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_positive %>
          <div>Positive</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_reversal %>
          <div>Reversal</div>
        </div>
      </div>
      <div class="generation_box generation_box_ml_5px">
        <div class="check_box">
          <%= f.check_box :generation_projection_print %>
          <div>Projection Print</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_answer_print %>
          <div>Answer Print</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_work_print %>
          <div>Work Print</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_composite %>
          <div>Composite</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_intermediate %>
          <div>Intermediate</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_mezzanine %>
          <div>Mezzanine</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_kinescope %>
          <div>Kinescope</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_magnetic_track %>
          <div>Magnetic Track</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_optical_sound_track %>
          <div>Optical Sound Track</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_outs_and_trims %>
          <div>Outs and Trims</div>
        </div>
      </div>
      <div class="generation_box generation_box_ml_5px">
        <div class="check_box">
          <%= f.check_box :generation_ab_a_roll %>
          <div>A Roll</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_ab_b_roll %>
          <div>B Roll</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_ab_c_roll %>
          <div>C Roll</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_ab_d_roll %>
          <div>D Roll</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_edited %>
          <div>Edited</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_edited_camera_original %>
          <div>Edited Camera Original</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_original %>
          <div>Original</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_fine_grain_master %>
          <div>Fine Grain Master</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_separation_master %>
          <div>Separation Master</div>
        </div>
        <div class="check_box">
          <%= f.check_box :generation_duplicate %>
          <div>Duplicate</div>
        </div>
      </div>
    </div>
  </div>
  <div id="format_right_div">
    <div id="format_right_div_fields">
      <div class="label">
        <b>Original Identifier</b>
      </div>
      <div class="value">
        <%= f.text_field :item_original_identifier %>
      </div>
      <div class="label">
        <b>Reel Number</b>
      </div>
      <div class="value">
        <%= f.text_field :reel_number %>
      </div>
      <div class="check_label">
        <%= f.check_box :multiple_items_in_can %> <b>Multiple Items in Can</b>
      </div>
      <div class="label">
        <b>Can Size</b>
      </div>
      <div class="value">
        <%= f.select :can_size, options_for_select(@cv[:can_size], @physical_object.can_size), {include_blank: ''}  %>
      </div>
      <div class="label">
        <b>Footage (ft)</b>
      </div>
      <div class="value">
        <%= f.text_field :footage %>
      </div>
      <div class="label">
        <b>Duration (hh:mm:ss)</b>
      </div>
      <div class="value">
        <%= f.text_field :duration %>
      </div>
      <div class="label">
        <b>Edge Code</b>
      </div>
      <div class="value">
        <i>currently not implemented</i>
      </div>
    </div>
    <div id="base_fields" class="left">
      <b class="block">Base</b>
      <div class="check_box">
        <%= f.check_box :base_acetate %>
        <div>Acetate</div>
      </div>
      <div class="check_box">
        <%= f.check_box :base_polyester %>
        <div>Polyester</div>
      </div>
      <div class="check_box">
        <%= f.check_box :base_nitrate %>
        <div>Nitrate</div>
      </div>
      <div class="check_box">
        <%= f.check_box :base_mixed%>
        <div>Mixed</div>
      </div>
    </div>
    <div id="stock_div" class="left">
      <b class="block">Stock</b>
      <div class="check_box"><%= f.check_box :stock_agfa %><div>Agfa</div></div>
      <div class="check_box"><%= f.check_box :stock_ansco %><div>Ansco</div></div>
      <div class="check_box"><%= f.check_box :stock_dupont %><div>Dupont</div></div>
      <div class="check_box"><%= f.check_box :stock_orwo %><div>Orwo</div></div>
      <div class="check_box"><%= f.check_box :stock_fuji %><div>Fuji</div></div>
      <div class="check_box"><%= f.check_box :stock_gevaert %><div>Gevaert</div></div>
      <div class="check_box"><%= f.check_box :stock_kodak %><div>Kodak</div></div>
      <div class="check_box"><%= f.check_box :stock_ferrania %><div>Ferrania</div></div>
      <div class="check_box"><%= f.check_box :stock_mixed %><div>Mixed</div></div>
    </div>
  </div>

</div>
<div id="image_metadata" class="metadata_section left _50">
  <h4>Image</h4>
  <div>
    <div class="h_150px">
      <b class="block">Picture Type</b>
      <div class="left _50">
        <%= f.check_box :picture_not_applicable %>Not Applicable<br/>
        <%= f.check_box :picture_silent_picture %>Silent Picture<br/>
        <%= f.check_box :picture_mos_picture %>MOS Picture<br/>
        <%= f.check_box :picture_composite_picture %>Composite Picture<br/>
        <%= f.check_box :picture_intertitles_only %>Intertitles Only<br/>
      </div>
      <div class="left _50">
        <%= f.check_box :picture_credits_only %>Credits Only<br/>
        <%= f.check_box :picture_picture_effects %>Picture Effects<br/>
        <%= f.check_box :picture_picture_outtakes %>Picture Outtakes<br/>
        <%= f.check_box :picture_picture_kinescope %>Kinescope<br/>
      </div>
    </div>
    <div class="clear">
      <b class='block'>Frame Rate</b><%= f.select :frame_rate, options_for_select(@cv[:frame_rate], @physical_object.frame_rate), {include_blank: ''}  %>
    </div>
    <div id="color_div" class="h_195px">
      <b class="block">Color</b>
      <div>
        <div class="_33 left">
          <%= f.check_box :color_bw_bw %>Black & White<br/>
          <%= f.check_box :color_bw_bw_toned %>Toned<br/>
          <%= f.check_box :color_bw_bw_tinted %>Tinted<br/>
          <%= f.check_box :color_bw_bw_hand_coloring %>Hand Coloring<br/>
          <%= f.check_box :color_bw_bw_stencil_coloring %>Stencil Coloring<br/>
        </div>
        <div class="_33 left">
          <%= f.check_box :color_bw_color %>Color<br/>
          <%= f.check_box :color_bw_color_ektachrome %>Ektachrome<br/>
          <%= f.check_box :color_bw_color_kodachrome %>Kodachrome<br/>
          <%= f.check_box :color_bw_color_technicolor %>Technicolor<br/>
          <%= f.check_box :color_bw_color_anscochrome %>Ansochrome<br/>
        </div>
        <div class="left _33">
          <%= f.check_box :color_bw_color_eco %>Eco<br/>
          <%= f.check_box :color_bw_color_eastman %>Eastman
        </div>
      </div>
    </div>
    <div>
      <b class="block">Aspect Ratio</b>
      <div>
        <%= f.check_box :aspect_ratio_1_33_1 %>1:33:1
        <%= f.check_box :aspect_ratio_1_37_1 %>1:37:1
        <%= f.check_box :aspect_ratio_1_66_1 %>1:66:1
        <%= f.check_box :aspect_ratio_1_85_1 %>1:85:1<br/>
        <%= f.check_box :aspect_ratio_2_35_1 %>2:35:1
        <%= f.check_box :aspect_ratio_2_39_1 %>2:39:1
        <%= f.check_box :aspect_ratio_2_59_1 %>2:59:1
      </div>
    </div>

  </div>
</div>
<div id="sound_metadata" class="metadata_section left _50">
  <h4>Sound</h4>
  <div>
    <%= f.check_box :silent %><b>Silent</b><br/>
    <%= f.check_box :close_caption %><b>Captions/Subtitles</b><br/>
    <b>Captions/Subtitles Notes</b><br/>
  </div>
  <%= f.text_area :notes, class: '_100' %>
  <b class='block'>Format Type</b>
  <div class="h_100px">
    <div class="left">
      <%= f.check_box :sound_format_optical_variable_area %>Optical: Variable Area<br/>
      <%= f.check_box :sound_format_optical_variable_density %>Optical: Variable Density<br/>
      <%= f.check_box :sound_format_magnetic %>Magnetic<br/>
      <%= f.check_box :sound_format_type_mixed %>Mixed
    </div>
    <div class="left">
      <%= f.check_box :sound_format_digital_sdds %>Digital: SDDS<br/>
      <%= f.check_box :sound_format_digital_dts %>Digital: DTS<br/>
      <%= f.check_box :sound_format_digital_dolby_digital %>Digital: Dolby Digital<br/>
      <%= f.check_box :sound_format_sound_on_separate_media %>Sound on Separate Media Type
    </div>
  </div>
  <div class="h_90px">
    <b class='block'>Content Type</b>
    <div class="left _50">
      <%= f.check_box :sound_content_music_track %>Music track<br/>
      <%= f.check_box :sound_content_effects_track %>Effects Track<br/>
      <%= f.check_box :sound_content_dialog %>Dialog
    </div>
    <div class="left _50">
      <%= f.check_box :sound_content_composite_track %>Composite Track<br/>
      <%= f.check_box :sound_content_outtakes %>Outtakes
    </div>
  </div>
  <div class="h_90px">
    <b class='block'>Configuration</b>
    <div class="left _50">
      <%= f.check_box :sound_configuration_mono %>Mono<br/>
      <%= f.check_box :sound_configuration_stereo %>Stereo<br/>
      <%= f.check_box :sound_configuration_surround %>Surround
    </div>
    <div class="left _50">
      <%= f.check_box :sound_configuration_multi_track %>Multi-track (i.e. Maurer)<br/>
      <%= f.check_box :sound_configuration_dual %>Dual<br/>
      <%= f.check_box :sound_configuration_single %>Single
    </div>
  </div>
  <div class="h_100px">
    <b class="block">Language - Dialog</b>
      <%= f.check_box :language_arabic %>Arabic <%= f.check_box :language_chinese %>Chinese <%= f.check_box :language_english %>English <%= f.check_box :language_french %>French <%= f.check_box :language_german %>German <%= f.check_box :language_hindi %>Hindi<br/>
      <%= f.check_box :language_italian %>Italian <%= f.check_box :language_japanese %>Japanese <%= f.check_box :language_portuguese %>Portuguese<%= f.check_box :language_russian %>Russian <%= f.check_box :language_spanish %>Spanish
  </div>
  <div class="h_75px">
    <b class='block'>Language - Captions and Subtitles</b>
    <i>Not implemented yet...</i>
  </div>
</div>
<div id="format_notes_metadata" class="metadata_section">
  <h4>Format Notes</h4>
  <%= f.text_area :format_notes, class: "_100" %>
</div>
<div id="accompanying_documentation_metadata" class="metadata_section">
  <h4>Accompanying Documentation</h4>
  <div>
    <i>Implementaion to be drastically modified...</i>
  </div>
</div>
<div id="condition_metadata" class="metadata_section">
  <h4>Condition</h4>
  <div id="condition_notes">
    <div class="left _45 rp_10px">
      <b>Overall Condition</b> <%= f.select :condition_rating, options_for_select(@cv[:condition_rating], @physical_object.condition_rating), {include_blank: ''}  %><br/>
      <b>Condition Notes</b> <%= f.text_area :condition_notes, class: "_100" %>
    </div>
    <div class="left _50">
      <b>Research Value</b> <%= f.select :research_value, options_for_select(@cv[:research_value], @physical_object.research_value), {include_blank: ''}  %><br/>
      <b class="block">Research Value Notes</b>
      <div>
        <%= f.text_area :research_value_notes %>
      </div>
    </div>
  </div>
  <div class="condition_types">
    <b class="block">Condition Types</b>
    <div id="condition_3">
      <div class="select _33">
        <div>AD Strip</div><%= f.select :ad_strip, options_for_select(@cv[:ad_strip], @physical_object.ad_strip), {include_blank: ''}  %>
      </div>
      <div class="select _33">
        <div>
          Shrinkage
        </div>
        <%= f.text_field :shrinkage %>
      </div>
      <div class="select _33">
        <div>Mold</div>
        <%= f.select :mold, options_for_select(@cv[:mold], @physical_object.mold), {include_blank: ''}  %>
      </div>
    </div>

    <div class="left _33">
      <div class="select">
        <div>
          Dirty
        </div>
        <%= f.select :dirty, options_for_select(@cv[:condition_type], @physical_object.dirty), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>
          Channeling
        </div>
        <%= f.select :channeling, options_for_select(@cv[:condition_type], @physical_object.channeling), {include_blank: ''} %>
      </div>
      <div class="select">
        <div>
          Scratches
        </div>
        <%= f.select :scratches, options_for_select(@cv[:condition_type], @physical_object.scratches), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>
          Tape Residue
        </div>
        <%= f.select :tape_residue, options_for_select(@cv[:condition_type], @physical_object.tape_residue), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>Rusty</div>
        <%= f.select :rusty, options_for_select(@cv[:condition_type], @physical_object.color_fade), {include_blank: ''}  %>
      </div>
    </div>
    <div class="left _33">
      <div class="select">
        <div>Broken</div>
        <%= f.select :broken, options_for_select(@cv[:condition_type], @physical_object.broken), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>
          Peeling
        </div>
        <%= f.select :peeling, options_for_select(@cv[:condition_type], @physical_object.peeling), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>Splice Damage</div>
        <%= f.select :splice_damage, options_for_select(@cv[:condition_type], @physical_object.splice_damage), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>Tearing</div>
        <%= f.select :tearing, options_for_select(@cv[:condition_type], @physical_object.tearing), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>Spoking</div>
        <%= f.select :spoking, options_for_select(@cv[:condition_type], @physical_object.color_fade), {include_blank: ''}  %>
      </div>
    </div>
    <div class="left _33">
      <div class="select">
        <div>Perforation Damage</div>
        <%= f.select :perforation_damage, options_for_select(@cv[:condition_type], @physical_object.perforation_damage), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>Warp</div>
        <%= f.select :warp, options_for_select(@cv[:condition_type], @physical_object.warp), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>
          Water Damage
        </div>
        <%= f.select :water_damage, options_for_select(@cv[:condition_type], @physical_object.water_damage), {include_blank: ''}  %>
      </div>
      <div class="select">
        <div>Color Fade</div>
        <%= f.select :color_fade, options_for_select(@cv[:condition_type], @physical_object.color_fade), {include_blank: ''}  %>
      </div>
    </div>
  </div>
  <div class="condition_types">



  </div>
  <div id="condition_types_check_box_div" class="condition_types">
    <div class="_33">
      <div class="check_box">
        <%= f.check_box :lacquer_treated %>
        <div>Lacquer Treated</div>
      </div>
      <div class="check_box">
        <%= f.check_box :dusty %>
        <div>
          Dusty
        </div>
      </div>
    </div>
    <div class="_33">
      <div class="check_box">
        <%= f.check_box :replasticized %>
        <div>Replasticized</div>
      </div>
      <div class="check_box">
        <%= f.check_box :not_on_core_or_reel %>
        <div>
          Not on Core or Reel
        </div>
      </div>
    </div>
    <div class="_33">
      <div class="check_box">
        <%= f.check_box :loose_wind %>
        <div>
          Poor Wind
        </div>
      </div>
    </div>

  </div>

  <div class="clear">
    <b class="block">Missing Footage</b>
    <%= f.text_area :missing_footage, class: '_100' %><br/>
    <b class="block"> Miscellaneous</b>
    <%= f.text_area :miscellaneous, class: '_100' %>
  </div>
</div>
<div id="conservation_actions_metadata" class="metadata_section">
  <h4>Conservation actions</h4>
  <%= f.text_area :conservation_actions, class: '_100' %>
</div>

<%= render partial: "physical_objects/physical_object_metadata_js" %>