<%= render partial: 'layouts/notice_div' %>

<%= link_to 'Edit', edit_physical_object_path(@physical_object) %> |
<%= link_to 'Back', physical_objects_path %> |
<%= link_to 'Duplicate Physical Object', duplicate_physical_object_path %>
<% if @continue_url %>
   &nbsp;|&nbsp;<%= link_to @continue_text, @continue_url %>
<% end %>
<div>
  <div style="height: 20px">
    <div class="right _35">
      <b>Inventoried By: </b><%= @physical_object.inventorier.name %>&nbsp;(<%= @physical_object.created_at.strftime('%Y-%m-%d') %>)
    </div>
  </div>
  <div style="heigh: 20px">
    <div class="right _35">
      <b>Modified By: </b><%= @physical_object.modifier.name %>&nbsp;(<%= @physical_object.updated_at.strftime('%Y-%m-%d') %>)
    </div>
  </div>
</div>
<div id="core_metadata" class="metadata_section clear">
  <h4>Core Metadata</h4>
  <div class="left _50">
    <b>Title</b> <%= @physical_object.title_text %><br/>
    <b>Alternative Title</b> <%= @physical_object.alternative_title %><br/>
    <b>Series</b> <%= @physical_object.series_title_text %><br/>
    <b>Series Part</b> <%= @physical_object.series_part %><br/>
    <b>Media Type</b> <%= @physical_object.media_type %><br/>
    <b>Medium</b> <%= @physical_object.medium %><br/>
  </div>
  <div class="left _50">
    <b>Unit</b> <%= @physical_object.unit.abbreviation %><br/>
    <b>Collection</b> <%= @physical_object.collection&.name %><br/>
    <b>Current Location</b> <%= @physical_object.location %><br/>
    <b>IU Barcode</b> <%= @physical_object.iu_barcode %><br/>
    <b>MDPI Barcode</b> <%= @physical_object.mdpi_barcode %><br/>
    <b>IUCAT Title No.</b> <%= @physical_object.title_control_number %><br/>
  </div>
  <div class="clear">
    <b class="block">Version</b>
    <%= @physical_object.humanize_boolean_fields(PhysicalObject::VERSION_FIELDS) %>
  </div>
</div>

<div id="" class="metadata_section">
  <h4>Format</h4>
  <div class="left _50">
    <b >Gauge</b><%= @physical_object.gauge %><br/>
    <b class="block">Generation</b><%= @physical_object.humanize_boolean_fields(PhysicalObject::GENERATION_FIELDS) %>
  </div>
  <div class="">
    <b>Original Identifiers:&nbsp;</b>
    <% @physical_object.physical_object_original_identifiers.each_with_index do |id, i| %>
    <%= (i == @physical_object.physical_object_original_identifiers.size - 1 ? "#{id.identifier}" : "#{id.identifier}, ")%>
    <% end %>
    <br/>
    <b>Reel Number&nbsp;</b><%= @physical_object.reel_number %><br/>
    <b>Multiple Items in Can &nbsp;</b><%= @physical_object.multiple_items_in_can ? 'yes' : 'no' %> <br/>
    <b>Can Size&nbsp;</b><%= @physical_object.can_size%><br/>
    <b>Footage (ft)&nbsp;</b><%= @physical_object.footage %><br/>
    <b>Duration (hh:mm:ss)&nbsp;</b><%= @physical_object.duration %><br/>
    <b>Edge Code</b> <i>currently not implemented</i>
  </div>
  <div>
    <b class="block">Base</b>
    <%= @physical_object.humanize_boolean_fields(PhysicalObject::BASE_FIELDS) %>
  </div>
  <div>
    <b class="block">Stock</b>
    <%= @physical_object.humanize_boolean_fields(PhysicalObject::STOCK_FIELDS) %>
  </div>
  <div class="clear"></div>
</div>
<div id="image_metadata" class="metadata_section left _50">
  <h4>Image</h4>
  <div>
    <div class="">
      <b class="block">Picture Type&nbsp;</b>
      <%= @physical_object.humanize_boolean_fields(PhysicalObject::PICTURE_TYPE_FIELDS) %>
    </div>
    <div class="clear">
      <b >Frame Rate&nbsp;</b><%= @physical_object.frame_rate %>
    </div>
    <div id="" class="">
      <b class="block">Color&nbsp;</b>
      <%= @physical_object.humanize_boolean_fields(PhysicalObject::COLOR_FIELDS) %>
      </div>
    </div>
    <div>
      <b class="block">Aspect Ratio&nbsp;</b>
      <%= @physical_object.humanize_boolean_fields(PhysicalObject::ASPECT_RATIO_FIELDS) %>
    </div>

  </div>
</div>
<div id="sound_metadata" class="metadata_section left _50">
  <h4>Sound</h4>
  <div>
    <b>Sound&nbsp;</b><%= @physical_object.sound%><br/>
    <b>Captions/Subtitles&nbsp;</b><%= @physical_object.close_caption? ? "yes" : "no" %><br/>
    <b>Captions/Subtitles Notes&nbsp;</b><%= @physical_object.captions_or_subtitles_notes %><br/>
  </div>
  <div>
    <%= @physical_object.notes %>
  </div>
  <b >Format Type&nbsp;</b>
  <%= @physical_object.humanize_boolean_fields(PhysicalObject::SOUND_FORMAT_FIELDS) %>
  <div class="">
    <b >Content Type&nbsp;</b>
    <%= @physical_object.humanize_boolean_fields(PhysicalObject::SOUND_CONTENT_FIELDS) %>
  </div>
  <div class="">
    <b >Sound Field&nbsp;</b>
    <%= @physical_object.humanize_boolean_fields(PhysicalObject::SOUND_CONFIGURATION_FIELDS) %>
  </div>
  <div class="">
    <b class="">Languages&nbsp;</b>
    <% @physical_object.languages.each_with_index do |l, i| %>
    <b><%= l.language %></b> - <%= l.language_type %>&nbsp;&nbsp;
    <% end %>
  </div>
</div>
<div id="format_notes_metadata" class="metadata_section">
  <h4>Format Notes</h4>
  <p><%= @physical_object.format_notes %></p>
</div>
<div id="accompanying_documentation_metadata" class="metadata_section">
  <h4>Accompanying Documentation</h4>
  <div>
    <i>Implementaion to be drastically modified... but for now...</i><br/>
    <%= @physical_object.accompanying_documentation %>
  </div>
</div>
<div id="" class="metadata_section">
  <h4>Condition</h4>
  <div class="h_55px">
    <div class="left _45 rp_10px">
      <b>Overall Condition</b> <%= @physical_object.condition_rating %><br/>
      <b>Condition Notes</b> <%= @physical_object.condition_notes %>
    </div>
    <div class="left _50">
      <b>Research Value</b> <%= @physical_object.research_value %><br/>
      <b class="block">Research Value Notes</b>
      <div>
        <%= @physical_object.research_value_notes %>
      </div>
    </div>
  </div>
  <div class="clear">
    <b>AD Strip</b> <%= @physical_object.ad_strip %>&nbsp;&nbsp;&nbsp;
    <b>Shrinkage</b> <%= @physical_object.shrinkage %>&nbsp;&nbsp;&nbsp;
    <b>Mold</b> <%= @physical_object.mold %><br/>
  </div>
  <div>
    <h4>Rated Condition</h4>
    <% @physical_object.value_conditions.each do |vc| %>
    <div class="left condition">
      <b><%= vc.condition_type %></b> <%= vc.value %><br/>
      <% unless vc.comment.blank? %>
        <b>Comment</b> <%= vc.comment %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div>
    <h4>Boolean Conditions</h4>
    <% @physical_object.boolean_conditions.each do |bc| %>
      <div class="left condition">
        <b><%= bc.condition_type %></b><br/>
        <% unless bc.comment.blank? %>
          <%= bc.comment %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="clear">
    <b class="block">Missing Footage</b>
    <%= @physical_object.missing_footage %><br/>
    <b class="block"> Miscellaneous</b>
    <%= @physical_object.miscellaneous %>
  </div>
</div>
<div id="conservation_actions_metadata" class="metadata_section">
  <h4>Conservation actions</h4>
  <%= @physical_object.conservation_actions %>
</div>
<%= render partial: 'physical_object_old_barcodes' %>
