<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_physical_object_path(@physical_object) %> |
<%= link_to 'Back', physical_objects_path %>
<table class="physical_object_metadata">
  <tr>
    <td>Date Inventoried</td>
    <td>
      <%= @physical_object.date_inventoried %>
    </td>
  </tr>
  <tr>
    <td>Created By</td>
    <td>
      Users to be implemented...
    </td>
  </tr>
  <tr>
    <td>Location</td>
    <td>
      <%= @physical_object.location %>
    </td>
  </tr>
  <tr>
    <td>Unit</td>
    <td><%= @physical_object.unit.name %></td>
  </tr>
  <tr>
    <td>Collection</td>
    <td>
      To be implemented...
    </td>
  </tr>
  <tr>
    <td>Media Type</td>
    <td>
      <%= @physical_object.media_type %>
    </td>
  </tr>
  <tr>
    <td>Medium</td>
    <td><%= @physical_object.medium %></td>
  </tr>
  <tr>
    <td>IU Barcode</td>
    <td>
      <%= @physical_object.iu_barcode %>
    </td>
  </tr>
  <tr>
    <td>Title</td>
    <td>
      <%= @physical_object.title.nil? ? "None" : @physical_object.title.title %>
    </td>
  </tr>
  <tr>
    <td>Copy Right</td>
    <td>
      <%= @physical_object.copy_right %>
    </td>
  </tr>
  <tr>
    <td>Series Name</td>
    <td>
      <%= @physical_object.series_name %>
    </td>
  </tr>
  <tr>
    <td>Series Production Number</td>
    <td>
      <%= @physical_object.series_production_number %>
    </td>
  </tr>
  <tr>
    <td>Series Part</td>
    <td>
      <%= @physical_object.series_part %>
    </td>
  </tr>
  <tr>
    <td>Alternative Title</td>
    <td>
      <%= @physical_object.alternative_title %>
    </td>
  </tr>
  <tr>
    <td>Title Version</td>
    <td>
      <%= @physical_object.title_version %>
    </td>
  </tr>
  <tr>
    <td>Item Original Identifier</td>
    <td>
      <%= @physical_object.item_original_identifier %>
    </td>
  </tr>
  <tr>
    <td>Summary</td>
    <td>
      <%= @physical_object.summary %>
    </td>
  </tr>
  <tr>
    <td>Creator</td>
    <td>
      <%= @physical_object.creator %>
    </td>
  </tr>
  <tr>
    <td>Distributors</td>
    <td>
      <%= @physical_object.distributors %>
    </td>
  </tr>
  <tr>
    <td>Credits</td>
    <td>
      <%= @physical_object.credits %>
    </td>
  </tr>
  <tr>
    <td>Language</td>
    <td>
      <%= @physical_object.language %>
    </td>
  </tr>
  <tr>
    <td>Accompanying Documentation</td>
    <td>
      <%= @physical_object.accompanying_documentation %>
    </td>
  </tr>
  <tr>
    <td>Notes</td>
    <td>
      <%= @physical_object.notes %>
    </td>
  </tr>
</table>
<%= render partial: 'physical_object_old_barcodes' %>
