<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_physical_object_path(@physical_object) %> |
<%= link_to 'Back', physical_objects_path %>
<table class="physical_object_metadata">
  <tr>
    <th>Date Inventoried</th>
    <td>
      <%= @physical_object.created_at.strftime("%b %d. %Y") %>
    </td>
  </tr>
  <tr>
    <th>Inventoried By</th>
    <td>
      <%= @physical_object.inventorier.name %>
    </td>
  </tr>
  <tr>
    <th>Location</th>
    <td>
      <%= @physical_object.location %>
    </td>
  </tr>
  <tr>
    <th>Unit</th>
    <td><%= link_to "#{@physical_object.unit.abbreviation}", unit_path(@physical_object.unit)%></td>
  </tr>
  <tr>
    <th>Collection</th>
    <td>
      <%= link_to "#{@physical_object.collection.name}", collection_path(@physical_object.collection) %>
    </td>
  </tr>
  <tr>
    <th>Media Type</th>
    <td>
      <%= @physical_object.media_type %>
    </td>
  </tr>
  <tr>
    <th>Medium</th>
    <td><%= @physical_object.medium %></td>
  </tr>
  <tr>
    <th>IU Barcode</th>
    <td>
      <%= @physical_object.iu_barcode %>
    </td>
  </tr>
  <tr>
    <th>Title</th>
    <td>
      <% if @physical_object.title.nil? %>
          "None"
      <% else %>
          <%= link_to "#{@physical_object.title.title_text}", title_path(@physical_object.title) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Copy Right</th>
    <td>
      <%= @physical_object.copy_right %>
    </td>
  </tr>
  <tr>
    <th>Series Title</th>
    <td>
      <%= @physical_object.title.series.nil? ? "" : @physical_object.title.series.title %>
    </td>
  </tr>
  <tr>
    <th>Series Production Number</th>
    <td>
      <%= @physical_object.series_production_number %>
    </td>
  </tr>
  <tr>
    <th>Series Part</th>
    <td>
      <%= @physical_object.series_part %>
    </td>
  </tr>
  <tr>
    <th>Alternative Title</th>
    <td>
      <%= @physical_object.alternative_title %>
    </td>
  </tr>
  <tr>
    <th>Title Version</th>
    <td>
      <%= @physical_object.title_version %>
    </td>
  </tr>
  <tr>
    <th>Item Original Identifier</th>
    <td>
      <%= @physical_object.item_original_identifier %>
    </td>
  </tr>
  <tr>
    <th>Summary</th>
    <td>
      <%= @physical_object.summary %>
    </td>
  </tr>
  <tr>
    <th>Creator</th>
    <td>
      <%= @physical_object.creator %>
    </td>
  </tr>
  <tr>
    <th>Distributors</th>
    <td>
      <%= @physical_object.distributors %>
    </td>
  </tr>
  <tr>
    <th>Credits</th>
    <td>
      <%= @physical_object.credits %>
    </td>
  </tr>
  <tr>
    <th>Language</th>
    <td>
      <%= @physical_object.language %>
    </td>
  </tr>
  <tr>
    <th>Accompanying Documentation</th>
    <td>
      <%= @physical_object.accompanying_documentation %>
    </td>
  </tr>
  <tr>
    <th>Notes</th>
    <td>
      <%= @physical_object.notes %>
    </td>
  </tr>
</table>
<%= render partial: 'physical_object_old_barcodes' %>
