<div class="right">
  <%= link_to "Get Digital Status", get_digiprov_path(@cage_shelf) %>
  <%= link_to "Back", url_for(:back) %>
</div>
<h4>Cage Shelf</h4>
<table>
  <tbody>
  <tr>
    <th>Identifier</th>
    <th>Barcode</th>
    <th>Physical Object Count</th>
    <th>Status</th>
    <th>Cage</th>
  </tr>
  <tr>
    <td><%= @cage_shelf.identifier %></td>
    <td><%= @cage_shelf.mdpi_barcode %></td>
    <td><%= @cage_shelf.physical_objects.size %></td>
    <td><%= @cage_shelf.status %></td>
    <td><%= link_to "#{@cage_shelf.cage.identifier}", cage_path(@cage_shelf.cage) %></td>
  </tr>
  </tbody>
</table>
<br>
<h4>Physical Objects</h4>
<table>
  <tbody>
  <tr>
    <th>IU Barcode</th>
    <th>MDPI Barcode</th>
    <th>Title</th>
    <th>Digitized</th>
  </tr>
  <% @cage_shelf.physical_objects.each do |p| %>
    <tr>
      <td><%= link_to "#{p.iu_barcode}", physical_object_path(p) %></td>
      <td><%= link_to "#{p.mdpi_barcode}", physical_object_path(p) %></td>
      <td><%= p.titles_text %></td>
      <% if p.digitized? %>
        <td><%= link_to "Yes", digiprovs_path(p)%></td>
      <% else %>
        <td><%= p.digitized.nil? ? "N/A" : p.digitized %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>