<%= form_for(@series_title) do |f| %>
  <% if @series_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series_title.errors.count, "error") %> prohibited this series_title from being saved:</h2>

      <ul>
      <% @series_title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table>
      <tr>
        <th>Series title</th>
        <td>
          <%= f.text_field :series_title %>
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <td>
          <%= f.text_area :description %>
        </td>
      </tr>
    </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
