<p id="notice"><%= notice %></p>

<h1>Listing Series Titles</h1>

<table>
  <thead>
    <tr>
      <th>Series Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @series_titles.each do |series_title| %>
      <tr>
        <td><%= series_title.series_title %></td>
        <td><%= series_title.description %></td>
        <td>
          <%= link_to 'Show', series_title %><br/>
          <%= link_to 'Destroy', series_title, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
          <%= link_to 'Edit', edit_series_title_path(series_title) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Series title', new_series_title_path %>
