<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Series Title</th>
    <td><%= @series_title.series_title %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @series_title.description %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_series_title_path(@series_title) %> |
<%= link_to 'Back', series_titles_path %>
