<h4>Physical Objects in <i><%= @cage_shelf.identifier %></i></h4>
<table id="shelf_po_table">
	<tr>
		<th>Barcode</th>
		<th>Titles</th>
		<th>Gauge</th>
		<th>Actions</th>
	</tr>
	<% @cage_shelf.physical_objects.each do |p| %>
		<tr>
			<td>
				IU: <%= p.iu_barcode %><br/>
				MDPI: <%= p.mdpi_barcode %>
			</td>
			<td><%= p.titles_text %></td>
			<td><%= p.gauge %></td>
			<td>
				<a class='cage_shelf_po_delete_link' href="#" id='po_<%= p.id %>'>Remove</a> <br>
				<%= link_to 'Show', physical_object_path(p.id), target: '_blank'  %>
			</td>
		</tr>
	<% end %>
</table>