<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <th>Username</th>
      <td>
	      <%= f.text_field :username %>
      </td>
    </tr>
    <tr>
      <th>Email Address</th>
      <td>
	      <%= f.text_field :email_address %>
      </td>
    </tr>
    <tr>
      <th>First Name</th>
      <td>
	      <%= f.text_field :first_name %>
      </td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>
	      <%= f.text_field :last_name %>
      </td>
    </tr>
    <tr>
      <th>Active</th>
      <td>
        <%= f.check_box :active %>
      </td>
    </tr>
    <tr>
      <th>Roles</th>
      <td>
	      Can Delete? <%= f.check_box :can_delete %>
      </td>
    </tr>
	  <tr>
		  <th>Works at Wells and Alf?</th>
		  <td>
			  <%= f.check_box :works_in_both_locations %>
		  </td>
	  </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
