<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<table>
  <tr>
    <th>Username</th>
    <td>
	    <%= @user.username %>
    </td>
  </tr>
  <tr>
    <th>Email Address</th>
    <td><%= @user.email_address %></td>
  </tr>
  <tr>
    <th>First Name</th>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <th>Active</th>
    <td>
      <%= @user.active %>
    </td>
  </tr>
  <tr>
    <th>Role</th>
    <td>To be implemented...</td>
  </tr>
</table>
