<%= form_for @physical_object, url: update_return_from_mold_abatement_path(id: @physical_object.id), method: :post do |f| %>
<table>
	<tr>
		<th>Title</th>
		<td>
			<%= @physical_object.titles_text %>
		</td>
	</tr>
	<tr>
		<th>
			IU Barcode
		</th>
		<td>
			<%= @physical_object.iu_barcode %>
		</td>
	</tr>
	<tr>
		<th>Mold Status</th>
		<td>
			<%= f.select :mold, options_for_select(ControlledVocabulary.physical_object_cv[:mold]) %>
		</td>
	</tr>
	<tr>
		<th>Reason Pulled</th>
		<td>
			<%= @physical_object.active_component_group ? @physical_object.active_component_group.group_type : @physical_object.current_workflow_status.previous_sibling.status_name %>
		</td>
	</tr>
	<tr>
		<th>Update Workflow To:</th>
		<td>
			<%= f.select :current_workflow_status, options_for_select(WorkflowStatus::STATUSES_TO_NEXT_WORKFLOW[@physical_object.current_workflow_status.previous_sibling.status_name]) %>
		</td>
	</tr>
	<tr>
		<td colspan="2"><%= f.submit "Update Status" %></td>
	</tr>
</table>
<% end %>