<div id="alf_form_div" class="left _45">
	<% if @msg %>
	<p class="warning"><%= @msg %></p>
	<% else  %>
		<h4><%= @physical_object.iu_barcode %><% if @physical_object.current_workflow_status.status_name == WorkflowStatus::MOLD_ABATEMENT %><%= "[Back From Mold Abatement]" %><% end %></h4>
		<% if @physical_object.same_active_component_group_members? != false %>
			<p class="notice">
				<% bcs = @physical_object.same_active_component_group_members?&.collect{|p| p.iu_barcode}  %>
				<%= "#{bcs.join(', ')} also #{bcs.size == 1 ? 'belongs' : 'belong'} to this title and #{bcs.size == 1 ? 'has' : 'have'} not yet been received from storage." %>
			</p>
		<% end %>
		<% if @physical_object.current_workflow_status.status_name == WorkflowStatus::WELLS_TO_ALF_CONTAINER %>
			<p class="notice">This Physical Object was selected for digitization during <b>Wells MDPI Best Copy</b> workflow. It should be moved to the 2k/4k staging area.</p>
		<% end  %>
		<%= form_for @physical_object, url: receive_from_storage_path, html: { id: 'receive_physical_object_form'} do |f| %>
			<%= f.hidden_field :iu_barcode %>
		<table>
			<tr>
				<th>Reason Pulled</th>
				<td>
					<%= @physical_object.active_component_group&.group_type %>
				</td>
			</tr>
			<tr>
				<th>Title</th>
				<td><%= @physical_object.titles.collect{ |t| t.title_text }.join(', ') %></td>
			</tr>
			<tr>
				<th>Footage</th>
				<td>
					<%= f.text_field :footage %>
				</td>
			</tr>
			<tr>
				<th>Can Size</th>
				<td>
					<%= f.select :can_size, options_for_select(@cv[:can_size], @physical_object.can_size), {include_blank: ''} %>
				</td>
			</tr>
			<% if !@physical_object.active_component_group&.scan_resolution.blank? %>
			<tr>
				<th>Scan Resolution</th>
				<td>
					<%= @physical_object.active_component_group.scan_resolution %>
				</td>
			</tr>
			<% end %>
			<tr>
				<th>Sent to Workflow</th>
				<td>
					<%= f.select :workflow, options_for_select(WorkflowStatus.mdpi_receive_options(@physical_object.storage_location)) %>
				</td>
			</tr>
			<tr id="rejected_options" class="hidden">
				<th>Did You Update Condition Notes for <%= link_to "#{@physical_object.iu_barcode}?", edit_physical_object_path(@physical_object), target: '_blank' %></th>
				<td>
					<%= f.check_box :updated %>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<%= f.submit "Update Workflow Status" %>
				</td>
			</tr>
		</table>
		<% end %>
	<% end  %>
</div>
