<% if @alf %>
	<div id="alf">
		<div id="alf_scan_div" class="left _45">
			<h4>Receiving Physical Objects at <b>ALF</b></h4>
			<table>
				<tr>
					<th>Scan IU Barocde</th>
					<td>
						<input id="alf_iu_barcode" type="text">
					</td>
				</tr>
			</table>
		</div>
		<div id="alf_form_div"></div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#alf_iu_barcode').bind("input",function(event) {
					valid = validateIUBarcode($(this));
					if (valid) {
						$.ajax({
							url: './ajax_alf_barcode/'+$(this).val(),
							error: function(result) {
								swal({
									title: 'Ajax Error',
									text: 'Something unexpected happened while trying to retreive the list of physical objects in the shelf',
									type: 'error'
								});
							},
							success: function(result) {
								div = $('#alf_form_div');
								if (div.size() > 0) {
									div.replaceWith(result);
								} else {
									$('#alf_scan_div').after($(result));
								}
							},
							complete: function() {
								$('#physical_object_workflow').change(function() {
									if ($('#physical_object_workflow')[0].selectedIndex > 1) {
										$("#rejected_options").show();
									} else {
										$("#rejected_options").hide();
									}
								});
							}
						});
					}
				})
			});
		</script>
	</div>
<% else %>
	<div id="wells">
		<h4>Receiving Physical Objects at <b>Wells</b></h4>
		<%= form_for 'physical_object', url: process_received_from_storage_wells_url do |f| %>
			<table>
				<tr>
					<th>IU Barocde</th>
					<td>
						<%= f.text_field :iu_barcode %>
					</td>
				</tr>
				<tr>
					<td colspan="2"><%= f.submit "Mark Received" %></td>
				</tr>
			</table>
		<% end %>
	</div>
<% end %>
<br>
<h4 class="m_top_10px clear">
	Physical Objects in Transit
</h4>
<%=  render partial: 'physical_objects_table' %>
<%= render partial: 'physical_objects/physical_object_metadata_js' %>