<h4>Component Groups</h4>
<table id="component_group_table" class="sel-table _100">
  <thead>
    <tr>
      <th>Group Type</th>
      <th colspan="2">Group Summary</th>
      <th>Gauge</th>
      <th>Generations</th>
      <th>Workflow Status(es)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @title.component_groups.order('id DESC').each do |cg| %>
    <tr id="<%= cg.id %>">
      <td id="cg_<%= cg.id %>_group_type" title="<%= cg.group_type %>"><%= cg.group_type %> (<%= "#{pluralize(cg.physical_objects.size, 'Object')}" %>)</td>
      <td class="no_border_right"><%= cg.group_summary %></td>
			<td class="edit_icon">
				<%= link_to image_tag('edit2.png'), '#', class: 'edit_summary_link', id: "edit_summary_#{cg.id}", title: 'Click to edit the Component Group Summary' %>
			</td>
      <td><%= cg.physical_objects.collect {|p| p.medium_name }.uniq.sort.join(', ') %></td>
      <td><%= cg.generations %></td>
			<td><%= cg.physical_objects.collect { |p| p.current_location }.uniq.join(', ') %></td>
      <td>
	      <% if cg.can_move_or_be_pulled? %>
		      <%= link_to 'Queue Pull Request', '#', id: "cg_#{cg.id}", class: 'cg_pull_link' %> <br>
        <% elsif cg.can_move_into_workflow? %>
          <%= link_to "Move Into Workflow", '#', id: "cg_#{cg.id}", class: 'cg_move_link' %> <br>
	      <% end %>
	      <% if policy(cg).destroy? && !cg.in_active_workflow? %>
		      <%= link_to "Delete", delete_component_group_path(@title, cg), method: :delete, data: { confirm: 'Are you sure?' }  %>
          <br>
	      <% elsif cg.in_active_workflow? %>
	      <b>Active</b>
          <% if cg.is_iulmia_workflow? %>
            <br><%= link_to "Move to MDPI Workflow", move_to_mdpi_workflow_path(t_id:@title.id, id: cg.id) %><br>
          <% end %>
	      <% end %>
        <%= link_to "Edit", edit_component_group_path(@title, cg) %>
			</td>
    </tr>
  <% end %>
  </tbody>
</table>
<div id="cg_summary">
</div>
<div id="edit_summary_dialog">
	<%= form_for :cg_summary_edit, remote: true, html: {id: 'summary_form'} do |f| %>
		<input type="hidden" name="cg_id" id="summary_form_cg_id" />
		<b class="block">Update Summary</b>
		<%= f.text_area 'summary', id: 'popup_summary' %>
	<% end  %>
</div>

<script type="text/javascript">
	$('.edit_summary_link').click(function(event) {
		event.preventDefault();
		id = $(this).attr('id').substring(13);
		sum_field = $(this).parent().prev();
		$('#popup_summary').val(sum_field.html());
		$('#edit_summary_dialog').dialog({
			title: 'Update '+$('#cg_'+id+'_group_type').attr('title'),
			width: 600,
			height: 250,
			modal: true,
			buttons: [{
				text: 'Update',
				click: function () {
				    var url = "../component_groups/" + id + "/ajax_edit_summary";
					$.ajax({
						url: url,
						type: "POST",
						data: $('#summary_form').serialize(),
						error: function (XMLHttpRequest, textStatus, errorThrown) {
							$('#edit_summary_dialog').dialog("close");
              swal({
                  title: 'Ajax Error',
                  text: 'An error occured while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
              }, function() {
                  // don't redirect here because it was a post
              });
						},
						success: function (data) {
							if (data == 'success') {
								sum_field.html($('#popup_summary').val());
								$('#edit_summary_dialog').dialog("close");
							}
						}
					})
				}},
				{
					text: "Cancel",
					click: function () {
						$(this).dialog("close");
					}
				}]
		});
		return false;
	});
  $('#cg_summary').toggle('slide');
  $("#component_group_table>tbody>tr").click(function() {
    if ($(this).hasClass('ui-selected')) {
      $(this).removeClass('ui-selected');
      removeCgSummary();
    } else {
      $('.ui-selected').removeClass('ui-selected');
      removeCgSummary();
      $(this).addClass('ui-selected');
      showCgSummary($(this).attr('id'));
    }
  });

  var removeCgSummary = function() {
    $('#cg_summary').slideUp().delay(200);
    $('#cg_summary').html('');
  };

  var showCgSummary = function(id) {
    var url = '../../component_groups/ajax/'+id;
    $.ajax({
      url: url,
      error: function(jqXHR, textStatus, errorThrown) {
        swal({
            title: 'Ajax Error',
            text: 'An error occured while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
        }, function() {
            window.location.replace(url)
        });
      },
      success: function(result) {
        el = $('#cg_summary');
        el.html(result);
        $('#cg_summary').slideDown();
        hook_cg_add();
      }
    });
  };
  $('.cg_pull_link').click(function(event) {
		var id = $(this).attr('id').substring(3);
		event.preventDefault();
	  event.stopPropagation();
	  var url = '../component_groups/'+id+'/ajax_queue_pull_request';
		$.ajax({
			url: url,
			method: 'POST',
			error: function(jqXHR, textStatus, error) {
        swal({
            title: 'Ajax Error',
            text: 'An error occured while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
        }, function() {
            window.location.replace(url)
        });
			},
			success: function(data, status, xhr) {
        var title = data == 'success' ? 'Success' : "Unable to Queue Pull Request";
				var msg = data == 'success' ? '<p>Component Group queued for pull request</p>': fillBadList(data);
        swal({
	        title: title,
	        text: msg,
	        html: true
        },
        function() {
	        location.reload()
        })
			}
		});
	});

  $('.cg_move_link').click(function(event) {
      var id = $(this).attr('id').substring(3);
      event.preventDefault();
      event.stopPropagation();
      var url = '../component_groups/' + id + '/ajax_move_into_active_request';
      $.ajax({
          url: url,
          method: 'POST',
          error: function (jqXHR, textStatus, error) {
              swal({
                  title: 'Ajax Error',
                  text: 'An error occured while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
              }, function () {
                  window.location.replace(url)
              });
          },
          success: function (data, status, xhr) {
              var title = data == 'success' ? 'Success' : "Unable to Move Component Group Into Active Workflow";
              var msg = data == 'success' ?
                  '<p>Component Group physical objects were successfully moved into active workflow.': fillBadList(data);
              swal({
                      title: title,
                      text: msg,
                      html: true
                  },
                  function () {
                      location.reload()
                  })
          }
      });
  });

  var fillBadList = function(data) {
    ul = "<ul>"
    Object.keys(data).forEach(function(e) {
      ul += "<li>"+(data[e])+"</li>";
    });
    ul += "</ul>"
    return ul;
  }

  $('a.edit_dig_params').click(function(event) {
		event.preventDefault();
	  event.stopPropagation();
		id = $(this).attr('id').substring('edit_dig_params_'.length);
		var url = './ajax/edit_cg_params/'+id;
		$.ajax({
			url: url,
			method: 'GET',
			error: function(jqXHR, textStatus, error) {
          swal({
              title: 'Ajax Error',
              text: 'An error occured while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
          }, function() {
              window.location.replace(url)
          });
			},
			success: function(data, status, xhr) {
				swal({
					title: 'Edit Component Group',
					html: true,
					text: data,
					confirmButtonText: 'Update Component Group',
					showCancelButton: true,
					cancelButtonText: 'Cancel'
				},
				function(isConfirm) {
					if (isConfirm) {
						document.getElementsByClassName('edit_component_group')[0].submit();
					}
				})
			}
		})
	});

</script>


