<div id="paginator">
	<%
		page_count = (@count / Title.per_page.to_f).ceil
		x_low = [1, @page - 2].max
		x_high = @page + 1
	%>
	<% if @page > 1 %>
		<%= link_to "1", page_link_path(1), method: :post, class: 'pag_link_first' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to "Previous", page_link_path(@page - 1), method: :post, class: 'pag_link' %>
	<% else %>
		<span class="dis_pag_link">Previous</span>
	<% end %>
	<% until x_low >= @page do %>
		<%= link_to x_low, page_link_path(x_low), method: :post, class: 'pag_link' %>
		<% x_low += 1 %>
	<% end %>
	<span class="cur_page"><%= @page %></span>
	<% until x_high > ([@page + 2, page_count].min) do %>
		<%= link_to x_high, page_link_path(x_high), method: :post, class: 'pag_link' %>
		<% x_high += 1 %>
	<% end %>
	<% if @page == page_count %>
		<span class="dis_pag_link">Next</span>
	<% else %>
		<%= link_to "Next", page_link_path(@page + 1), method: :post, class: 'pag_link' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to "#{page_count}", page_link_path(page_count), method: :post, class: 'pag_link_last' %>
	<% end %>
</div>
