<% if flash[:merge] == true %>
	<p class="notice">Title merge successful.</p>
	<ul class="notice">
    <% if @mergees.size > 0 %>
      <li><%= @mergees.size %> other Titles were merged into this Title record</li>
    <% end %>
    <% unless @component_group.nil? %>
      <li>A <%= @component_group.group_type %> Component Group was created containing: <br>
        <table>
          <tbody>
          <tr>
            <th>IU Barcode</th>
            <th>Gauge</th>
            <th>Generation</th>
            <th>Location</th>
            <th>Scan Settings</th>
          </tr>
          <% @component_group.physical_objects.each do |p|%>
            <tr>
              <td><%= p.iu_barcode %></td>
              <td><%= p.gauge %></td>
              <td><%= p.generations_text %></td>
              <td><%= p.current_location %></td>
              <td>
                <ul>
                  <li>Scan Resolution: <%= p.active_scan_settings.scan_resolution %></li>
                  <li>Color Space: <%= p.active_scan_settings.color_space %></li>
                  <li>Return on Reel: <%= p.active_scan_settings.return_on_reel %></li>
                  <li>Clean: <%= p.active_scan_settings.clean %></li>
                </ul>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </li>
    <% end %>

    <% if @unchecked && @unchecked.size > 0 %>
      <li>
        <%= @unchecked.size %> Physical Objects were returned to Storage
      </li>
    <% end %>
    <% if @moved.size > 0 %>
      <li>
        The following Physical Objects will need to be moved from their physical location <br>
        <table>
          <tbody>
          <tr>
            <th>IU Barcode</th>
            <th>Current Physical Location</th>
            <th>Move To</th>
          </tr>
          <% @moved.each do |p| %>
            <tr>
              <td><%= p.iu_barcode %></td>
              <td><%= p.previous_location %></td>
              <td><%= p.current_location %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </li>
    <% end %>
	</ul>
<% end %>
<div id="whodoneit">
  <div><b>Creator</b></div><div><%= @title.creator&.name %></div>
  <div><b>Last Modified By</b></div><div><%= @title.modifier&.name %></div>
</div>
<% if @title.digitized? %>
  <div class="digitized clear">
    Digitized
  </div>
<% end %>
<div id="main">
  <div class="left_div">
    <div class="label"><b>Title</b></div><div class="field"><%= @title.title_text %></div>
    <div class="label"><b>Series Title</b></div><div class="field"><%= @title.series_title_text %></div>
    <div class="label"><b>Series Part</b></div><div class="field"><%= @title.series_part %></div>
  </div>
  <div class="right_div">
    <div class="block_label"><b>Summary</b></div>
    <div class="block_label"><%= @title.summary %></div>
  </div>
</div>
<h4 class="clear">Alternative Titles</h4>
<div>
  <% @title.alternative_titles.each do |at| %>
      <%= at %>&nbsp;&nbsp;
  <% end %>
</div>
<div class="clear">
  <% unless @title.title_original_identifiers.empty? %>
      <h4>Orginal Identifiers</h4>
      <% @title.title_original_identifiers.each do |toi| %>
          <div class="left_div creator_div">
            <div class="label"><b>Identifier</b></div>
            <div class="field"><%= toi.identifier %></div>
            <div class="label"><b>Type</b></div>
            <div class="field"><%= toi.identifier_type %></div>
          </div>
      <% end %>
  <% end %>
  <% unless @title.title_creators.empty? %>
      <h4>Creators</h4>
      <% @title.title_creators.each do |tc| %>
          <div class="left_div creator_div">
            <div class="label"><b>Creator</b></div>
            <div class="field">
              <%= tc.name %>
            </div>
            <div class="label"><b>Role</b></div>
            <div class="field">
              <%= tc.role %>
            </div>
          </div>
      <% end %>
  <% end %>
  <% unless @title.title_publishers.empty? %>
      <h4>Publishers</h4>
      <% @title.title_publishers.each do |tp| %>
          <div class="left_div creator_div">
            <div class="label"><b>Name</b></div>
            <div class="field"><%= tp.name %></div>
            <div class="label"><b>Role</b></div>
            <div class="field"><%= tp.publisher_type %></div>
          </div>
      <% end %>
  <% end %>

  <% unless @title.title_genres.empty? %>
      <h4>Genres</h4>
      <% @title.title_genres.each do |tg| %>
          <div class="left_div creator_div">
            <div class="field"><%= tg.genre %></div>
          </div>
      <% end %>
  <% end %>

  <% unless @title.title_forms.empty? %>
      <h4>Forms</h4>
      <% @title.title_forms.each do |tf| %>
          <div class="left_div creator_div">
            <div class="field"><%= tf.form %></div>
          </div>
      <% end %>
  <% end %>

  <% unless @title.title_locations.empty? %>
      <h4>Locations</h4>
      <% @title.title_locations.each do |tl| %>
          <div class="left_div creator_div">
            <div class="field"><%= tl.location %></div>
          </div>
      <% end %>
  <% end %>

  <% unless @title.title_dates.empty? %>
      <h4>Dates</h4>
      <% @title.title_dates.each do |td| %>
			<div class="date"><b><%= td.date_type %>:</b> <%= td.date_to_s %></div>
      <% end %>
  <% end %>
  <h4>Notes</h4>
	<div class="title_notes">
    <%= @title.notes %>
  </div>
	<h4>Subject</h4>
	<div class="title_subject">
		<%= @title.subject %>
	</div>
	<h4>Name Authority</h4>
	<div class="name_authority">
		<%= @title.name_authority %>
	</div>
</div>