<% @map.keys.each do |t_id| %>
  <% title = Title.includes(:physical_objects).find(t_id) %>
  <%
    if @map[t_id] != @title.id && @map[t_id].size == 0
      next
    end
  %>
  <div class="split_title_div">
  <h4><%= link_to title.title_text, title_path(title), class: 'orange', target: '_blank' %></h4>
  <table>
    <tbody>
    <tr>
      <th>IU Barcode</th>
      <th>Location</th>
      <th>Gauge</th>
      <th>Generation</th>
      <th>Scan Resolution</th>
      <th>Color Space</th>
      <th>Return on Reel</th>
      <th>Clean</th>
      <th>Add to CG</th>
      <th>Return to Storage</th>
    </tr>
    <% if @title.id == t_id %>
      <tr>
        <th colspan="10">Remaining Physical Objects</th>
      </tr>
      <% PhysicalObject.where(id: @map[t_id]).each do |p| %>
        <% ss = p.active_scan_settings.nil? ? nil : p.active_scan_settings %>
        <tr class="<%= 'digitized_tr' unless !p.digitized? %>">
          <td><%= p.iu_barcode %></td>
          <td><%= p.current_location %></td>
          <td><%= p.gauge %></td>
          <td><%= p.humanize_boolean_fields(PhysicalObject::GENERATION_FIELDS) %></td>
          <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][scan_resolution", options_for_select(ComponentGroup::SCAN_RESOLUTIONS.collect{|s| [s, s]}, (ss.scan_resolution if ss)) %></td>
          <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][color_space]", options_for_select(ComponentGroup::COLOR_SPACES.collect{|s| [s,s]}, (ss.color_space if ss)) %></td>
          <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][return_on_reel]", options_for_select([["No", false], ["Yes", true]], (ss.return_on_reel if ss)) %></td>
          <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][clean]", options_for_select(ComponentGroup::CLEAN.collect{|s| [s, s]}, (ss.clean if ss)) %></td>
          <td>
            <% if (p.current_location == WorkflowStatus::SHIPPED_EXTERNALLY || p.location == WorkflowStatus::JUST_INVENTORIED_WELLS) %>
              <p class="warning">Shipped Externally</p>
            <% else %>
              <%= check_box_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][checked]", "", false,  {class: 'po_check'} %>
            <% end %>
          </td>
          <td>
            <% if (p.current_location == WorkflowStatus::SHIPPED_EXTERNALLY || p.location == WorkflowStatus::JUST_INVENTORIED_WELLS) %>
              <p class="warning">Shipped Externally</p>
            <% else %>
              <%= check_box_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][return]", "", false,  {class: 'po_check'} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <th colspan="10">Existing Physical Objects</th>
      </tr>
      <% title.physical_objects.each do |p| %>
        <% ss = p.active_scan_settings.nil? ? nil : p.active_scan_settings %>
          <tr  class="<%= 'digitized_tr' unless !p.digitized? %>">
            <td><%= p.iu_barcode %></td>
            <td><%= p.current_location %></td>
            <td><%= p.gauge %></td>
            <td><%= p.humanize_boolean_fields(PhysicalObject::GENERATION_FIELDS) %></td>
            <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][scan_resolution", options_for_select(ComponentGroup::SCAN_RESOLUTIONS.collect{|s| [s, s]}, (ss.scan_resolution if ss)) %></td>
            <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][color_space]", options_for_select(ComponentGroup::COLOR_SPACES.collect{|s| [s,s]}, (ss.color_space if ss)) %></td>
            <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][return_on_reel]", options_for_select([["No", false], ["Yes", true]], (ss.return_on_reel if ss))%></td>
            <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][clean]", options_for_select(ComponentGroup::CLEAN.collect{|s| [s, s]}, (ss.clean if ss)) %></td>
            <td>
              <% if (p.current_location == WorkflowStatus::SHIPPED_EXTERNALLY || p.location == WorkflowStatus::JUST_INVENTORIED_WELLS) %>
                <p class="warning">Shipped Externally</p>
              <% else %>
                <%= check_box_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][checked]", "", false,  {class: 'po_check'} %>
              <% end %>
            </td>
            <td>
              <% if (p.current_location == WorkflowStatus::SHIPPED_EXTERNALLY || p.location == WorkflowStatus::JUST_INVENTORIED_WELLS) %>
                <p class="warning">Shipped Externally</p>
              <% else %>
                <%= check_box_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][return]", "", false,  {class: 'po_check'} %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <tr>
        <th colspan="10">Retitled Physical Objects</th>
      </tr>
      <% PhysicalObject.where(id: @map[t_id]).each do |p| %>
        <% ss = p.active_scan_settings.nil? ? nil : p.active_scan_settings %>
          <tr  class="<%= 'digitized_tr' unless !p.digitized? %>">
            <td><%= p.iu_barcode %></td>
            <td><%= p.current_location %></td>
            <td><%= p.gauge %></td>
            <td><%= p.humanize_boolean_fields(PhysicalObject::GENERATION_FIELDS) %></td>
            <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][scan_resolution", options_for_select(ComponentGroup::SCAN_RESOLUTIONS.collect{|s| [s, s]}, (ss.scan_resolution if ss)) %></td>
            <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][color_space]", options_for_select(ComponentGroup::COLOR_SPACES.collect{|s| [s,s]}, (ss.color_space if ss)) %></td>
            <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][return_on_reel]", options_for_select([["No", false], ["Yes", true]], (ss.return_on_reel if ss)) %></td>
            <td><%= select_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][clean]", options_for_select(ComponentGroup::CLEAN.collect{|s| [s, s]}, (ss.clean if ss)) %></td>
            <td>
              <% if (p.current_location == WorkflowStatus::SHIPPED_EXTERNALLY || p.location == WorkflowStatus::JUST_INVENTORIED_WELLS) %>
                <p class="warning">Shipped Externally</p>
              <% else %>
                <%= check_box_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][checked]", "", false,  {class: 'po_check'} %>
              <% end %>
            </td>
            <td>
              <% if (p.current_location == WorkflowStatus::SHIPPED_EXTERNALLY || p.location == WorkflowStatus::JUST_INVENTORIED_WELLS) %>
                <p class="warning">Shipped Externally</p>
              <% else %>
                <%= check_box_tag "titles[#{t_id}]component_group[component_group_physical_objects_attributes][#{p.id}][return]", "", false,  {class: 'po_check'} %>
              <% end %>
            </td>
          </tr>
      <% end %>
    <% end %>
    <% if @map[t_id].size > 0 %>
      <tr>
        <th>Group Type</th>
        <td>
          <%= select_tag "titles[#{t_id}]component_group[group_type]", options_for_select([[ComponentGroup::BEST_COPY_ALF, ComponentGroup::BEST_COPY_ALF], [ComponentGroup::BEST_COPY_MDPI_WELLS, ComponentGroup::BEST_COPY_MDPI_WELLS], [ComponentGroup::REFORMATTING_MDPI, ComponentGroup::REFORMATTING_MDPI]]) %>
        </td>
        <th>Group Summary</th>
        <td colspan="5">
          <%= text_area_tag "titles[#{t_id}]component_group[group_summary]" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>