<%= link_to 'New Title', new_title_path %>
<h1>Listing Titles</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Series</th>
      <th>Object Count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @titles.each do |title| %>
    <tr>
      <td><%= title.title_text %></td>
      <td><%= title.series&.title %></td>
      <td><%= title.physical_objects.size %></td>
      <td>
        <%= link_to 'Show', title_path(title) %><br/>
        <%= link_to 'Edit', edit_title_path(title) %><br/>
        <% if policy(Title).destroy? %>
		      <% if title.physical_objects.size == 0  %>
            <%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %>
		      <% else %>
			      <b class="gray" title="This title cannot be deleted, it has physical objects which must be reassigned or deleted first">Destroy</b>
		      <% end %>
	      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

