<%= link_to 'New Title', new_title_path %>
<p class="notice"><%= notice %></p>

<h1>Listing Titles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Series</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |title| %>
    <tr>
      <td><%= title.title_text %></td>
      <td><%= title.series&.title %></td>
      <td><%= title.description %></td>
      <td>
        <%= link_to 'Show', title %><br/>
        <%= link_to 'Edit', edit_title_path(title) %><br/>
        <%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

