<%= link_to 'New Title', new_title_path %>
<%= render partial: 'layouts/notice_div' %>

<h1>Listing Titles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Series</th>
      <th>Summary</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |title| %>
    <tr>
      <td><%= title.title_text + (title.spreadsheet_id.nil? ? "[-]" : "[#{title.spreadsheet_id}]")%></td>
      <td><%= title.series&.title %></td>
      <td><%= title.summary %></td>
      <td>
        <%= link_to 'Show', title_path(title) %><br/>
        <%= link_to 'Edit', edit_title_path(title) %><br/>
        <% if title.physical_objects.size == 0 %>
            <%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
        <b class="gray" title="This title cannot be deleted, it has physical objects which must be reassigned or deleted first">Destroy</b>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

