<div>
  <%= link_to 'Edit', edit_title_path(@title) %>  |
  <%= link_to 'Back', titles_path %>  |
	<%= link_to 'Split', show_split_title_path(@title) %> |
  <%= link_to 'Inventory This Title', title_new_physical_object_path(@title) %>
	<% if policy(Title).destroy? %>
		| <%= link_to 'Destroy', @title, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</div>
<%= render partial: "show" %>

<%= render partial: 'component_groups' %>

<%= render partial: 'physical_objects' %>

<%= render partial: 'component_group_form' %>
