<p class="notice"><%= notice %></p>
<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %> |
<%= link_to 'Inventory This Title', title_new_physical_object_path %>
<table>
  <tr>
    <th>Title</th>
    <td><%= @title.title_text %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @title.description %></td>
  </tr>
  <tr>
    <th>Belongs to Series</th>
    <td>
      <%= @title.series ? (link_to "#{@title.series.title}", series_path(@title.series)) : "" %>
    </td>
  </tr>
  <tr>
    <th>Index in Series</th>
    <td>
      <%= @title.series_title_index %>
    </td>
  </tr>
</table>

<h4>Physical Objects With This Title</h4>
<%= render partial: 'physical_objects/physical_objects_table' %>