<%= render partial: 'layouts/notice_div' %>
<div>
  <%= link_to 'Edit', edit_title_path(@title) %> |
  <%= link_to 'Back', titles_path %> |
  <%= link_to 'Inventory This Title', title_new_physical_object_path %>
</div>
<%= render partial: "show" %>

<h4 class="mt_25">Physical Objects With This Title</h4>
<% if @title.physical_objects.size > 0 %>
<%= render partial: 'physical_objects/physical_objects_table' %>
<% else %>
none
<% end %>