<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Title</th>
    <td><%= @title.title %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @title.description %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
