<div id="fields">
  <div class=""><b>Series Name</b></div><div class=""><%= @series.title %></div>
  <div class=""><b>Series Production Number</b></div><div class=""><%= @series.production_number %></div>
  <div class=""><b>Series Dates</b></div><div class=""><%= @series.date %></div>
  <div class=""><b>Total Episodes</b></div><div class=""><%= @series.total_episodes %></div>
</div>
<div id="sum_div">
  <div><b>Summary</b></div>
  <div>
    <%= @series.summary %>
  </div>
</div>