<h4>Series Merge</h4>
<div id="series_selection">
  <table>
    <tr>
      <th>Series Title</th>
      <td>
        <%= text_field_tag :series_title_text %>
      </td>
    </tr>
  </table>
</div>
<div id="series_summary" class="left _75 ml_10" >

</div>
<%= form_tag title_autocomplete_selection_merge_path, id: 'title_autocomplete_select_form' do %>
  <%= hidden_field_tag :master_title_id %>
  <%= hidden_field_tag :mergees %>
  <div id="selected_titles" class="clear">
    <h4 class="m_top_10px">Titles To Merge</h4>
    <p class="warning">Click to select the master Title record - all other titles will be merged into this record</p>
    <table id="series_table">
      <tr>
        <th>Series Title</th>
        <th>Series Production #</th>
        <th>Summary</th>
        <th></th>
      </tr>
    </table>
  </div>
  <div id="physical_objects">

  </div>
  <%= submit_tag 'Merge Titles' %>
<% end %>