<h4>Series Merge</h4>
<div id="series_selection">
  <table>
    <tr>
      <th>Series Title</th>
      <td>
        <%= text_field_tag :series_title_text %>
      </td>
    </tr>
  </table>
</div>
<div id="series_summary" class="left _75 ml_10" >

</div>
<%= form_tag series_autocomplete_selection_merge_path, id: 'series_autocomplete_select_form' do %>
  <%= hidden_field_tag :master_series_id %>
  <%= hidden_field_tag :mergees %>
  <div id="selected_titles" class="clear">
    <h4 class="m_top_10px">Titles To Merge</h4>
    <p class="warning">Click to select the master Title record - all other titles will be merged into this record</p>
    <table id="series_table">
      <tbody>
        <tr>
          <th>Series Title</th>
          <th>Series Production #</th>
          <th>Series Dates</th>
          <th>Total Episodes</th>
          <th>Summary</th>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>
  <%= submit_tag 'Merge Series' %>
<% end %>
<script type="text/javascript" charset="utf-8">
  var merge_all = <%= action_name == 'show_merge_series' %>;
  $(document).ready(function() {
      $('#series_title_text').autocomplete({
          minLength: 2,
          source: function (request, response) {
              $.ajax({
                  url: "<%= autocomplete_series_path %>",
                  dataType: "json",
                  data: {
                      term: request.term,
                      exclude: selectedSeriesIds()
                  },
                  success: function (data) {
                      response(data)
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                      swal("Error",jqXHR.url + "<br><br>" + textStatus + "<br><br>" + errorThrown);
                  }
              });
          },
          focus: function (event, ui) {
              ajaxSeriesSummary(ui.item['value']);
              return false;
          },
          select: function (event, ui) {
              clearSeriesSummary();
              addSeries(ui.item['value']);
              return false;
          }
      }).focusout(function() {
          clearSeriesSummary();
      });
  });
  function ajaxSeriesSummary(series_id) {
      $.ajax({
          url: '/series/ajax/show/'+series_id,
          success: function(result) {
              $('#series_summary').html(result).show();
          },
          error: function(jqXHR, textStatus, errorThrown) {
              swal("Error",jqXHR.url + "<br><br>" + textStatus + "<br><br>" + errorThrown);
          }
      })
  }
  function addSeries(seriesId) {
      $.ajax({
          url: '/series/merge/series_table_row/'+seriesId,
          data: {merge_all: merge_all},
          error: function(jqXHR, textStatus, errorThrown) {
              swal("AJAX Error", jqXHR +"<br><br>"+textStatus+"<br><br>"+errorThrown);
          },
          success: function(result) {
              if (!merge_all && result === "Active") {
                  swal("Cannot Merge", "The title you selected is in active workflow and cannot be merged here. Please use the 'Merge Titles' link instead.")
              } else {
                  $('.title_merge_remove').unbind('click.title_merge_remove_title');
                  $('#series_table').append(result);
                  $('.title_merge_remove').bind('click.title_merge_remove_title', function(event) {
                      var id = $(this).parent().parent().attr('id');
                      $(this).parent().parent().remove();
                      if (id == $('#master_title_id').attr(('value'))) {
                          $('#master_title_id').attr('value', null);
                      }
                      initSeriesSelect();
                  });
                  initSeriesSelect();
              }
          }
      });
  }
  function clearSeriesSummary() {
      $('#series_summary').hide();
  }
  function initSeriesSelect() {
      // remove the event handlers as we don't want to double up on them every time a new row is added/removed
      $('#series_table > tbody > tr').off("click.title_select").on('click.title_select', function() {
        if ($(this).hasClass('master_selection')) {
            $(this).removeClass('master_selection');
            $('#master_title_id').attr('value', null)
        } else {
            $('.master_selection').removeClass('master_selection');
            $(this).addClass('master_selection');
            $('#master_title_id').attr('value', $(this).attr('id'))
        }
      setHiddenSeriesIds();
      });
      setHiddenSeriesIds();
  }
  function setHiddenSeriesIds() {
      sids = selectedSeriesIds(false);
      $('#mergees').attr('value', sids.join(','))
  }
  function selectedSeriesIds(includeMaster=true) {
      var vals = [];
      var sel = (includeMaster ? $('.title_row') : $('.title_row').not('.master_selection'));
      sel.each(function() {
          vals.push($(this).attr('id'))
      });
      return vals
  }

  $('#series_autocomplete_select_form').submit(function(event) {
      event.preventDefault();
      var m_id = $('#master_series_id').attr('value');
      if (merge_all) {
          var pos = getPoIds();
          if (m_id == null || m_id.length == 0) {
              swal('Select a Master Title', 'You must select a master title to merge. Click the row of the title you wish to be the master record. All metadata from other titles will be merged into this record' )
          } else {
              document.getElementById('series_autocomplete_select_form').submit();
          }
      } else {
          document.getElementById('series_autocomplete_select_form').submit();
      }
  })
</script>