<%= render partial: 'layouts/notice_div' %>
<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %> |
<%= link_to 'Inventory This Series', series_new_physical_object_path(@series) %>
<table>
  <tr>
    <th>Series Title</th>
    <td>
      <%= @series.title %>
    </td>
  </tr>
  <tr>
    <th>Decription</th>
    <td>
      <%= @series.description %>
    </td>
  </tr>
</table>
<h4>Titles in this Series</h4>
<table>
  <tr>
    <th>Title</th>
    <th>Index in Series</th>
  </tr>
  <% @series.titles.order("series_title_index IS NULL, series_title_index ASC").each do |t| %>
      <tr>
        <td><%= link_to "#{t.title_text}", title_path(t) %></td>
        <td><%= t.series_title_index %></td>
      </tr>
  <% end %>
</table>

