<h4>Create New Component Group</h4>
<% url = (action_name == 'new') ? create_title_component_group_path(@title) : update_component_group_path(@title, @component_group) %>
<%= form_for @component_group, url: url do |f| %>
  <%= f.hidden_field :title_id %>
  <table>
    <tbody>
    <tr>
      <th>Group Type</th>
      <td colspan="9">
        <%= f.select :group_type, options_for_select(@component_group_cv[:group_type],(@component_group.nil? ? '' : @component_group.group_type)) %>
      </td>
    </tr>
    <tr>
      <th>Group Summary</th>
      <td colspan="9">
        <%= f.text_area :group_summary %>
      </td>
    </tr>
    <tr>
      <th>Barcode</th>
      <th>Gauge/Format</th>
      <th>Generation</th>
      <th>Location</th>
      <th>Digitized?</th>
      <th>Scan Resolution</th>
      <th>Color Space</th>
      <th>Clean</th>
      <th>Return on Reel</th>
    </tr>
    <% @title.physical_objects.each do |p| %>
    <% p = p.specific %>
      <tr class=<%= "digitized_tr" if p.digitized? %>>
        <% if p.current_location == WorkflowStatus::DEACCESSIONED  %>
          <td class="warning"><%= p.iu_barcode %></td>
        <% else %>
          <td class="<%= @active && @component_group.physical_objects.include?(p) ? 'dont_uncheck' : ''%>">
            <%= check_box_tag "component_group[component_group_physical_objects][#{p.acting_as.id}][selected]", '',
                              @component_group.physical_objects.include?(p), data: {"medium": p.medium}, class: 'po_select',
                              disabled: p.medium != 'Film', title: (p.medium == 'Film' ? '' : 'Only Films can be added to MDPI Component Groups')
            %> [<%= p.iu_barcode %>]
          </td>
        <% end %>
        <td><%= p.medium_name %></td>
        <td><%= p.humanize_boolean_generation_fields %></td>
        <td><%= p.current_location %></td>
        <% if p.digitized? %>
          <td><%= link_to "Yes", digiprovs_path(p.acting_as)%></td>
        <% else %>
          <td><%= p.digitized.nil? ? "N/A" : p.digitized %></td>
        <% end %>
        <td>
          <%= select_tag "component_group[component_group_physical_objects][#{p.acting_as.id}][scan_resolution]", options_for_select(ComponentGroup::SCAN_RESOLUTIONS.collect{|s| [s, s]}, p.active_scan_settings&.scan_resolution)  %>
        </td>
        <td>
          <%= select_tag "component_group[component_group_physical_objects][#{p.acting_as.id}][color_space]", options_for_select(ComponentGroup::COLOR_SPACES.collect{|s| [s,s]}, p.active_scan_settings&.color_space) %>
        </td>
        <td>
          <%= select_tag "component_group[component_group_physical_objects][#{p.acting_as.id}][clean]", options_for_select(ComponentGroup::CLEAN.collect{|s| [s, s]}, p.active_scan_settings&.clean) %>
        </td>
        <td>
          <%= select_tag "component_group[component_group_physical_objects][#{p.acting_as.id}][return_on_reel]", options_for_select([["No", false], ["Yes", true]], p.active_scan_settings&.return_on_reel) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= f.submit (action_name == 'new' ? "Create Component Group" : "Update Component Group") %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
<script type="text/javascript" charset="utf-8">
    var lastChecked = null;
    $(document).ready(function() {
        $('input:checkbox').click(function(e) {
            if (!lastChecked) {
                lastChecked = this;
                dontUncheck();
                return;
            }
            if (e.shiftKey) {
                let start = $('input:checkbox').index(this);
                let end = $('input:checkbox').index(lastChecked);
                $('input:checkbox').slice(Math.min(start, end), Math.max(start,end) + 1).prop('checked', lastChecked.checked)
            }
            lastChecked = this;
            dontUncheck();
        });

        $('#component_group_group_type').change(function() {
            let sel = $('#component_group_group_type option:selected')
            if (sel.val().includes('MDPI')) {
                disableNonFilm();
            } else {
                enableNonFilm();
            }
        });
    })
    function disableNonFilm() {
        $('.po_select[data-medium!="Film"]').prop("checked", false).prop('disabled', true).attr("title", "Only Films can be added to MDPI Component Groups")
    }
    function enableNonFilm() {
        $('.po_select[data-medium!="Film"]').prop('disabled', false).attr("title", '');
    }
    function dontUncheck() {
        $('.dont_uncheck input:checkbox').prop('checked', true)
    }
</script>