<h4>Create New Component Group</h4>
<% url = (action_name == 'new') ? create_title_component_group_path(@title) : update_component_group_path(@title, @component_group) %>
<%= form_for @component_group, url: url do |f| %>
  <%= f.hidden_field :title_id %>
  <table>
    <tbody>
    <tr>
      <th>Group Type</th>
      <td colspan="9">
        <%= f.select :group_type, options_for_select(@component_group_cv[:group_type],(@component_group.nil? ? '' : @component_group.group_type)) %>
      </td>
    </tr>
    <tr>
      <th>Group Summary</th>
      <td colspan="9">
        <%= f.text_area :group_summary %>
      </td>
    </tr>
    <tr>
      <th>Barcode</th>
      <th>Gauge</th>
      <th>Generation</th>
      <th>Location</th>
      <th>Digitized?</th>
      <th>Scan Resolution</th>
      <th>Color Space</th>
      <th>Clean</th>
      <th>Return on Reel</th>
    </tr>
    <% @title.physical_objects.each do |p| %>
      <tr class=<%= "digitized_tr" if p.digitized? %>>
        <% if p.current_location == WorkflowStatus::DEACCESSIONED  %>
          <td class="warning"><%= p.iu_barcode %></td>
        <% else %>
          <td>
            <%= check_box_tag "component_group[component_group_physical_objects][#{p.id}][selected]", '', @component_group.physical_objects.include?(p) %> [<%= p.iu_barcode %>]
          </td>
        <% end %>
        <td><%= p.gauge%></td>
        <td><%= p.humanize_boolean_fields(PhysicalObject::GENERATION_FIELDS) %></td>
        <td><%= p.current_location %></td>
        <% if p.digitized? %>
          <td><%= link_to "Yes", digiprovs_path(p)%></td>
        <% else %>
          <td><%= p.digitized.nil? ? "N/A" : p.digitized %></td>
        <% end %>
        <td>
          <%= select_tag "component_group[component_group_physical_objects][#{p.id}][scan_resolution]", options_for_select(ComponentGroup::SCAN_RESOLUTIONS.collect{|s| [s, s]})  %>
        </td>
        <td>
          <%= select_tag "component_group[component_group_physical_objects][#{p.id}][color_space]", options_for_select(ComponentGroup::COLOR_SPACES.collect{|s| [s,s]}) %>
        </td>
        <td>
          <%= select_tag "component_group[component_group_physical_objects][#{p.id}][clean]", options_for_select(ComponentGroup::CLEAN.collect{|s| [s, s]}) %>
        </td>
        <td>
          <%= select_tag "component_group[component_group_physical_objects][#{p.id}][return_on_reel]", options_for_select([["No", false], ["Yes", true]]) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= f.submit "Create Component Group" %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
<script type="text/javascript" charset="utf-8">
    var lastChecked = null;
    $(document).ready(function() {
        $('input:checkbox').click(function(e) {
            if (!lastChecked) {
                lastChecked = this;
                return;
            }
            if (e.shiftKey) {
                var start = $('input:checkbox').index(this);
                var end = $('input:checkbox').index(lastChecked);
                $('input:checkbox').slice(Math.min(start, end), Math.max(start,end) + 1).prop('checked', lastChecked.checked)
            }
            lastChecked = this;
        });
    })
</script>