<h4>Best Copy Selection for <b><i><%= @title.title_text %></i></b></h4>
<table>
  <tbody>
  <tr>
    <th>Group Summary</th>
    <td>
      <textarea rows="4" cols="60">
        <%= @component_group.group_summary %>
      </textarea>
    </td>
  </tr>
  </tbody>
</table>
<br>
<h4>Physical Objects</h4>
<p>Select physical objects you wish to add to a Reformatting Component Group. Unselected physical objects will be returned
  to their <i>last</i> storage location - In Storage (Ingested), In Storage (Awaiting Ingest), In Freezer, or Awaiting Freezer</p>
<%= form_tag title_component_group_best_copy_selection_update_path(@title, @component_group), method: :post do %>
  <%= hidden_field_tag 'poids' %>
  <table>
    <tbody>
    <tr>
      <th>Add to CG</th>
      <th>IU Barcode</th>
      <th>Scan Resolution</th>
      <th>Color</th>
      <th>Return on Reel</th>
      <th>Clean</th>
    </tr>
    <% @component_group.physical_objects.each do |p| %>
    <tr>
      <td>
        <%= check_box_tag "po_#{p.id}", "po_#{p.id}", false,  class: 'po_check' %>
      </td>
      <td><%= p.iu_barcode %></td>
      <td><%= select_tag "po_scan_#{p.id}", options_for_select(ComponentGroup::SCAN_RESOLUTIONS.collect{|s| [s, s]}) %></td>
      <td><%= select_tag "po_color_#{p.id}", options_for_select(ComponentGroup::COLOR_SPACES.collect{|s| [s,s]}) %></td>
      <td><%= select_tag "po_return_#{p.id}", options_for_select([["No", false], ["Yes", true]]) %></td>
      <td><%= select_tag "po_clean_#{p.id}", options_for_select(ComponentGroup::CLEAN.collect{|s| [s, s]}) %></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="6"><%= submit_tag "Create Reformating CG" %></td>
    </tr>
    </tbody>
  </table>
<% end %>
<script type="text/javascript" charset="utf-8">
  var po_ids = [];
  $(document).ready(function() {
     $('.po_check').click(function() {
         po_ids = [];
         $('.po_check:checked').each(function() {
             po_ids.push($(this).attr('id').substring(3));
             $('#poids').attr('value', po_ids.join());
         })
     });
  });
</script>