<% if @paginate %>
  <%= render partial: 'paginator' %>
<% end %>
<table border="1">
  <thead>
  <tr>
    <th>Barcode</th>
    <th>Type</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @physical_objects.each do |physical_object| %>
    <% physical_object = physical_object.specific %>
    <tr>
      <td>
        <%= link_to "#{physical_object&.iu_barcode}", physical_object_path(physical_object.acting_as) %>
      </td>
      <td><%= physical_object.gauge %></td>
      <td>
        <%= link_to 'Show', physical_object.acting_as %> <br/>
        <%= link_to 'Edit', edit_physical_object_path(physical_object.acting_as) %>
        <% if policy(physical_object.acting_as).destroy? %>
          <br/>
          <%= link_to 'Destroy', physical_object.acting_as, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end  %>
        <% if policy(physical_object.acting_as).update_location? && physical_object.current_workflow_status.status_name == WorkflowStatus::PULL_REQUESTED %>
          <br/>
          <%= link_to 'Mark Missing', physical_object_mark_missing_path(physical_object.acting_as), method: :post, data: { confirm: 'Are you sure?'} %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>