<%= render partial: 'layouts/notice_div' %>
<% if @spreadsheet.successful_upload %>
    <br>
    <h4>Physical Objects Created in this spreadsheet</h4>
    <%= render partial: 'physical_objects/physical_objects_table' %>

    <% if @spreadsheet.created_users.size > 0 %>
    <h4>Users Created in This Spreadsheet</h4>
    <table>
      <tr>
        <th>Email Address</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
      <% @users.each do |u| %>
          <tr>
            <td><%= u.email_address %></td>
            <td><%= u.first_name %></td>
            <td><%= u.last_name %></td>
            <td>
              <%= link_to "Show", user_path(u) %>
              <%= link_to "Edit", edit_user_path(u) %>
              <%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
    </table>
    <% end %>

    <% if @spreadsheet.titles.size > 0 %>
    <h4>Titles Created in This Spreadsheet</h4>
    <table>
      <tr>
        <th>Title</th>
        <th>Physical Object With This Title</th>
        <th>Actions</th>
      </tr>
      <% @titles.each do |t| %>
          <tr>
            <td><%= t.title_text %></td>
            <td><%= t.physical_objects.size %></td>
            <td>
              <%= link_to "Show", title_path(t) %>
              <%= link_to "Edit", edit_title_path(t) %>
              <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
    </table>
    <% end %>

    <% if @spreadsheet.series.size > 0 %>
        <h4>Seriese Created in this Spreadsheet</h4>
        <table>
          <tr><th>Series Title</th><th>Actions</th></tr>
          <% @spreadsheet.series.each do |s| %>
          <tr>
            <td><%= s.title %></td>
            <td>
              <%= link_to "Show", series_path(s) %>
              <%= link_to "Edit", edit_series_path(s) %>
              <%= link_to "Destroy", s, method: :delete, data: { confirm: 'Are you sure?'} %>
            </td>
          </tr>
          <% end %>
        </table>
    <% end %>
<% else %>
	<h2>Spreadsheet upload failed for the following reasons:</h2>
	<p>
	<%= @spreadsheet.spreadsheet_submissions.last.failure_message.html_safe %>
	</p>
<% end %>
<%= link_to 'Back', spreadsheets_path %>
