<!DOCTYPE html>
<html>
<head>
  <title>Filmdb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="branding">
  <div class="user">
	  User: <%= current_username %> <br/>
	  <%= link_to "Sign Out", signout_path, method: :delete, class: 'red' %>
  </div>
</div>
<div id="nav">
  <ul>
    <li class="menuItem"><%= link_to "Physical Objects", physical_objects_path %></li>
    <li class="menuItem"><%= link_to "Series", series_index_path %></li>
    <li class="menuItem"><%= link_to "Users", users_path %></li>
    <li class="menuItem"><%= link_to "SpreadSheets", spreadsheets_path %></li>
    <li class="menuItem"><%= link_to "Collections", collections_path %></li>
    <li class="menuItem"><%= link_to "Units", units_path %></li>
    <li class="menuItem"><%= link_to "Titles", titles_path %></li>
    <li class="menuItem"><%= link_to "Series Titles", series_titles_path %></li>
  </ul>
</div>
<%= yield %>

</body>
</html>
